<h3 class="text-xl font-semibold mb-4 mt-4 text-gray-800">Associated Schools</h3>
<button class="mt-2 ml-2 secondaryBg text-white p-2 rounded" (click)="addEmployee()">Add Employee</button>
<table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden border border-gray-300 mt-4">
    <thead class="bg-gray-200">
        <tr>
            <th class="py-3 px-4 border-b text-left text-gray-700">Employee ID</th>
            <th class="py-3 px-4 border-b text-left text-gray-700">UserName</th>
            <th class="py-3 px-4 border-b text-left text-gray-700">Email</th>
            <!-- <th class="py-3 px-4 border-b text-left text-gray-700">Role</th>
            <th class="py-3 px-4 border-b text-left text-gray-700">Actions</th> -->
        </tr>
    </thead>
    <tbody class="text-gray-600">
        <tr *ngFor="let employee of Employee_With_Permission" class="hover:bg-gray-100">
            <td class="py-3 px-4 border-b">{{ employee.id }}</td>
            <td class="py-3 px-4 border-b">{{ employee.user_Name }}</td>
            <td class="py-3 px-4 border-b">{{ employee.email }}</td>
        </tr>
    </tbody>
</table>