<div>
    <h1 class="primaryTxt font-semibold text-2xl leading-9 mb-5">{{ bus.name }}</h1>
    
    <div class="flex flex-wrap justify-between">
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Name</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.name }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Type</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.busTypeName }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Districts</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.busDistrictName }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Status</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.busStatusName }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Capacity</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.capacity }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Driver</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.driverName }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Driver Assistant</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.driverAssistantName }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Company</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.busCompanyName }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Morning Price</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.morningPrice }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Back Price</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.backPrice }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Two Ways Price</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ bus.twoWaysPrice }}</p>
        </div>
        <div class="flex space-x-5 items-center w-[30%] mb-4">
            <i *ngIf="bus.isCapacityRestricted" class="secondaryTxt text-2xl fa-regular fa-square-check"></i>
            <i *ngIf="!bus.isCapacityRestricted" class="text-[#BDBDBD] text-2xl fa-regular fa-square"></i>
            <label for="Restricted" class="text-sm">Restricted Capacity</label>
        </div>
    </div>
</div>


<div>
    <div class="flex justify-between my-8">
        <h1 class="primaryTxt font-semibold text-2xl leading-9 mb-5">Students</h1>
        <div class="flex items-center space-x-3">
            <app-search [key]="key" [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
            <button class="secondaryBg rounded-lg py-3 px-4 text-white" (click)="OpenModal()">Add Student</button>
        </div>
    </div>

    <div class="mt-5">
        <label for="Years" class="block mb-2 text-sm font-medium text-gray-900">Year</label>
        <select id="Years" (change)="getDataByAcademicYear($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
            <option [value]="null" disabled selected hidden >Select Year</option>
            <option *ngFor="let domain of AcademicYearData" [value]="domain.name">
                {{ domain.name }}
            </option>
        </select>
    </div>


    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
        <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
            <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        School Name
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                        Grade
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Classes
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Student Name
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Categories
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Semester
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Exception
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Date From
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Date To
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Academic Year
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="busStudentData.length === 0">
                    <td colspan="11" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        No Data Found
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of busStudentData; let i = index"
                    [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                    class="border-t border-gray-300 text-xs md:text-sm">

                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.schoolName }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.gradeName }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.className }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.studentName }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.busCategoryName; else emptybusCategoryName">
                            <div class="truncate" title="{{ row.busCategoryName }}">
                                {{ row.busCategoryName }}
                            </div>
                        </div>
                        <ng-template #emptybusCategoryName>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.semseterName; else emptysemseterName">
                            <div class="truncate" title="{{ row.semseterName }}">
                                {{ row.semseterName }}
                            </div>
                        </div>
                        <ng-template #emptysemseterName>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <i *ngIf="row.isException" class="secondaryTxt text-2xl fa-regular fa-square-check"></i>
                        <i *ngIf="!row.isException" class="text-[#BDBDBD] text-2xl fa-regular fa-square"></i>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.exceptionFromDate; else emptyFromDate">
                            <div class="truncate" title="{{ row.exceptionFromDate }}">
                                {{ row.exceptionFromDate }}
                            </div>
                        </div>
                        <ng-template #emptyFromDate>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.exceptionToDate; else emptyToDate">
                            <div class="truncate" title="{{ row.exceptionToDate }}">
                                {{ row.exceptionToDate }}
                            </div>
                        </div>
                        <ng-template #emptyToDate>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.studentAcademicYear; else studentAcademicYear">
                            <div class="truncate" title="{{ row.studentAcademicYear }}">
                                {{ row.studentAcademicYear }}
                            </div>
                        </div>
                        <ng-template #studentAcademicYear>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4">
                            <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)" >
                                <i class="fa-regular fa-trash-can" (click)="deleteBusStudent(row.id)"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-arrow-right-arrow-left" (click)="openTransferBusStudentModal(row.id)"></i>
                            </button>
                            <button  *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId) ">
                                <i class="fa-solid fa-pencil" (click)="OpenModal(row.id)"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-1/2">
        <div class="flex justify-between items-center">
            <h1 *ngIf="!editBusStudent" class="font-semibold text-2xl leading-9">Add Student</h1>
            <h1 *ngIf="editBusStudent" class="font-semibold text-2xl leading-9">Edit Student</h1>
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 flex flex-wrap justify-between">
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="school" [ngClass]="{ 'text-gray-400': editBusStudent, 'primaryTxt': !editBusStudent}">Choose School</label>
                <select
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="school" [(ngModel)]="selectedSchool" (change)="onSchoolChange()"
                [disabled]="editBusStudent" [ngClass]="{ 'bg-[#EBEBEB]': editBusStudent}">
                    <option [value]="null" disabled selected hidden>Choose School</option>
                    <option *ngFor="let school of SchoolGroupByGradeGroupByClass" [value]="school.id">{{ school.name }}</option>
                    <option *ngIf="SchoolGroupByGradeGroupByClass.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="section" [ngClass]="{ 'text-gray-400': !selectedSchool || editBusStudent, 'primaryTxt': selectedSchool && !editBusStudent }">Choose Section</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="section" [(ngModel)]="selectedSection" (change)="onSectionChange()" [disabled]="!selectedSchool || editBusStudent" [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool || editBusStudent }">
                    <option [value]="null" disabled selected hidden>Choose Section</option>
                    <option *ngFor="let section of filteredSections" [value]="section.id">{{ section.name }}</option>
                    <option *ngIf="filteredSections.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="grade" [ngClass]="{ 'text-gray-400': !selectedSection || editBusStudent, 'primaryTxt': selectedSection && !editBusStudent }">Choose Grade</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="grade" [(ngModel)]="selectedGrade" (change)="onGradeChange()" [disabled]="!selectedSection || editBusStudent" [ngClass]="{ 'bg-[#EBEBEB]': !selectedSection || editBusStudent }">
                    <option [value]="null" disabled selected hidden>Choose Grade</option>
                    <option *ngFor="let grade of filteredGrades" [value]="grade.id">{{ grade.name }}</option>
                    <option *ngIf="filteredGrades.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" [ngClass]="{ 'text-gray-400': !selectedGrade || editBusStudent, 'primaryTxt': selectedGrade && !editBusStudent}" for="class">Choose Class</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="class" [(ngModel)]="selectedClass" (change)="onClassChange()" [disabled]="!selectedGrade || editBusStudent" [ngClass]="{ 'bg-[#EBEBEB]': !selectedGrade || editBusStudent }">
                    <option [value]="null" disabled selected hidden>Choose Class</option>
                    <option *ngFor="let classItem of filteredClasses" [value]="classItem.id">{{ classItem.name }}</option>
                    <option *ngIf="filteredClasses.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" [ngClass]="{ 'text-gray-400': !selectedClass || editBusStudent, 'primaryTxt': selectedClass && !editBusStudent}" for="student">Choose Student</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="student" 
                [(ngModel)]="busStudent.studentID" [disabled]="!selectedClass || editBusStudent" [ngClass]="{ 'bg-[#EBEBEB]': !selectedClass || editBusStudent }"
                (ngModelChange)="onInputValueChange({ field: 'studentID', value: $event })">
                    <option [value]="0" disabled selected hidden>Choose Student</option>
                    <option *ngFor="let stu of Students" [value]="stu.id">{{ stu.en_name }}</option>
                    <option *ngIf="Students.length === 0 && selectedClass" disabled selected>No Data Found</option>
                </select>
                <span *ngIf="validationErrors['studentID']" class="text-red-500 ml-3 font-normal">{{ validationErrors['studentID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="categories">Bus Categories</label>
                <select 
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="busCategory" [(ngModel)]="busStudent.busCategoryID"
                (ngModelChange)="onInputValueChange({ field: 'busCategoryID', value: $event })">
                    <option [value]="null" disabled selected hidden>Choose Bus Category</option>
                    <option *ngFor="let cat of BusCategories" [value]="cat.id">{{ cat.name }}</option>
                    <option *ngIf="BusCategories.length === 0" disabled selected>No Data Found</option>
                </select>
                <span *ngIf="validationErrors['busCategoryID']" class="text-red-500 ml-3 font-normal">{{ validationErrors['busCategoryID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="semester">Semester</label>
                <select 
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="semester" [(ngModel)]="busStudent.semseterID"
                (ngModelChange)="onInputValueChange({ field: 'semseterID', value: $event })">
                    <option [value]="null" disabled selected hidden>Choose Semester</option>
                    <option *ngFor="let semester of Semesters" [value]="semester.id">{{ semester.name }}</option>
                    <option *ngIf="Semesters.length === 0" disabled selected>No Data Found</option>
                </select>
                <span *ngIf="validationErrors['semseterID']" class="text-red-500 ml-3 font-normal">{{ validationErrors['semseterID'] }}</span>
            </div>
            <div class="flex w-full space-x-5 items-center mb-4">
                <input type="checkbox" id="exception" class="w-5 h-5"
                (change)="onIsExceptionChange($event)">
                <label for="exception" class="text-sm">Exception</label>
            </div>
            <div *ngIf="exception" class="flex flex-col w-[49%]">
                <label for="from" class="mb-2 primaryTxt">Date From</label>
                <input id="from" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="From" [(ngModel)]="busStudent.exceptionFromDate"
                (ngModelChange)="onInputValueChange({ field: 'exceptionFromDate', value: $event })">
                <span *ngIf="validationErrors['exceptionFromDate']" class="text-red-500 ml-3 font-normal">{{ validationErrors['exceptionFromDate'] }}</span>
            </div>
            <div *ngIf="exception" class="flex flex-col w-[49%]">
                <label for="to" class="mb-2 primaryTxt">Date To</label>
                <input id="to" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="To" [(ngModel)]="busStudent.exceptionToDate"
                (ngModelChange)="onInputValueChange({ field: 'exceptionToDate', value: $event })">
                <span *ngIf="validationErrors['exceptionToDate']" class="text-red-500 ml-3 font-normal">{{ validationErrors['exceptionToDate'] }}</span>
            </div>
        </div>

        <div class="flex justify-end">
            <button class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="SaveBusStudent()" >
                Save Student
            </button>
        </div>
    </div>
</div>

<!-- Transfer Modal -->
<div id="Transfer_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-1/2">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">Transfer From Bus To Bus</h1>
            <button (click)="closeTransferBusStudentModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>
        <div class="mt-4 bg-[#F7F7F7] h-auto rounded-[24px] p-[16px_24px] gap-[20px]">
            <h6 class="font-medium text-base leading-6">Buses</h6>
            <div class="flex justify-between mt-2 gap-2">
                <div class="w-full">
                    <select [(ngModel)]="busStudentTransfer.busID" (change)="onTransferChange()"
                        class="w-full rounded-lg border border-solid border-gray-300 h-full px-2" id="Buses" >
                        <option [value]="null" disabled selected hidden>Choose Bus</option>
                        <option *ngFor="let bus of busDataTransfer" [value]="bus.id">{{bus.name}}</option>
                        <option *ngIf="busDataTransfer.length === 0" disabled selected>No Data Found</option>
                    </select>
                </div>
                <button class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                    (click)="SaveTransfer()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>