<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">Accounts</h1>
    <div class="flex justify-between items-center ">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
        
        <button (click)="openModal()"
        class="secondaryBorder secondaryTxt rounded-lg px-4 py-3 flex items-center justify-center gap-2">
            Create Account
        </button>
    </div>
</div>

<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    ID
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    Name
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    Arabic Name
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Date
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="accountData.length === 0">
                <td colspan="5" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of accountData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.user_Name }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.arabic_Name }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.insertedAt | date:'MMM d, yyyy' }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4">
                        <button>
                            <i class="fa-regular fa-trash-can" (click)="deleteAccount(row.id)"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-pencil" (click)="openModal(row.id)"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Add-Edit School Type Modal -->
<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-1/2">
        <div class="flex justify-between items-center">
            <h1 *ngIf="!editAccount" class="font-semibold text-2xl leading-9">Create Account</h1>
            <h1 *ngIf="editAccount" class="font-semibold text-2xl leading-9">Edit Account</h1>
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 flex flex-wrap justify-between">
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="name">Username</label>
                <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter Username"
                [(ngModel)]="account.user_Name" 
                (ngModelChange)="onInputValueChange({ field: 'user_Name', value: $event })"/>
                <span *ngIf="validationErrors['user_Name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['user_Name'] }}</span>
            </div> 
    
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="arname">Arabic Name</label>
                <input id="arname" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter Arabic Name"
                [(ngModel)]="account.arabic_Name" 
                (ngModelChange)="onInputValueChange({ field: 'arabic_Name', value: $event })"/>
                <span *ngIf="validationErrors['arabic_Name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['arabic_Name'] }}</span>
            </div>
    
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="pass">Password</label>
                <input id="pass" type="password" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter Password"
                [(ngModel)]="account.password" 
                (ngModelChange)="onInputValueChange({ field: 'password', value: $event })"/>
                <span *ngIf="validationErrors['password']" class="text-red-500 ml-3 font-normal">{{ validationErrors['password'] }}</span>
            </div>
        </div>

        <div class="flex justify-end">
            <button class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="SaveAccount()">
                Save
            </button>
        </div>
    </div>
</div>
