<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th *ngFor="let header of headers"
                    class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="data.length === 0">
                <td [attr.colspan]="headers.length"
                    class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of data; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <!-- Data Columns -->
                <td *ngFor="let key of keys" class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <!-- Check if the key contains a date and format it -->
                    <ng-container *ngIf="key.toLowerCase().includes('date')">
                        {{ row[key] | date: 'd,MMM y' }} <!-- Format the date -->
                    </ng-container>
                    <ng-container *ngIf="!key.toLowerCase().includes('date')">
                        {{ row[key] }} <!-- Display non-date fields as-is -->
                    </ng-container>
                </td>

                <!-- Actions Column -->
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-5">
                        <!-- Delete Icon -->
                        <button *ngIf="row.actions?.delete" (click)="onDelete(row)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>

                        <!-- Edit Icon -->
                        <button *ngIf="showEditAction && row.actions?.edit" (click)="onEdit(row)">
                            <i class="fa-solid fa-pencil"></i>
                        </button>

                        <!-- Eye Icon (Conditional) -->
                        <button *ngIf="showViewAction && row.actions?.view" (click)="onView(row)">
                            <i class="fa-regular fa-eye"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>