<div #printContainer class="p-5 text-sm font-sans">
    <div class="flex justify-between items-center mb-6">
        <div class="w-[40%]">
            <p class="text-base font-semibold mb-1">{{ school?.reportHeaderOneEn }}</p>
            <p class="text-sm">{{ school?.reportHeaderTwoEn }}</p>
        </div>
        <div class="flex justify-center w-[15%]">
            <img *ngIf="school?.reportImage" [src]="school.reportImage"
                style="max-width: 120px; max-height: 120px; width: auto; height: auto;" />
        </div>
        <div class="rtl text-end w-[40%]">
            <p class="text-base font-semibold mb-1">{{ school?.reportHeaderOneAr }}</p>
            <p class="text-sm">{{ school?.reportHeaderTwoAr }}</p>
        </div>
    </div>

    <div class="my-10 flex justify-center">
        <h1 class="text-3xl font-bold tracking-wide ">{{ Title }}</h1>
    </div>

    <div class="my-10 space-y-2">
        <div *ngFor="let info of infoRows" class="flex justify-between text-xl">
            <div class="w-1/2 text-left mb-1">
                <span class="font-semibold mr-2">{{ info.keyEn }} </span>
            </div>
            <div class="w-1/2 rtl text-right " *ngIf="info.keyAr ">
                <span class="font-semibold ">{{ info.keyAr }} </span>
            </div>
        </div>
    </div>

<div *ngIf="tableDataWithHeaderArray">
    <div *ngFor="let section of tableDataWithHeaderArray" class="mb-8">
        <div class="p-2 rounded-top mb-2">
            <h5 class="primaryTxt font-semibold text-xl leading-9">{{ section.header }}</h5>
        </div>

        <div class="mb-4 p-3 border rounded-2xl shadow-sm bg-[#EBEBEB]">
            <table class="w-full">
                <tbody>
                    <tr *ngFor="let item of section.data">
                        <td class="font-semibold p-2 w-1/3">{{ item.key }}</td>
                        <td class="p-2">{{ item.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-4 overflow-x-auto rounded-xl border border-[#BDBDBD]">
            <table class="w-full inset-0 rounded-xl text-left text-[#6F6F6F]">
                <thead>
                    <tr class="bg-gray-200 text-sm">
                        <th *ngFor="let header of section.tableHeaders" class="p-2">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="section.tableData.length === 0">
                        <td [attr.colspan]="section.tableHeaders.length" class="text-center p-4">No Data Found</td>
                    </tr>
                    <tr *ngFor="let row of section.tableData; let i = index" [ngClass]="{ 'bg-gray-100': i % 2 === 1 }">
                        <td *ngFor="let header of section.tableHeaders" class="p-2 border">{{ row[header] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
    <div *ngFor="let chunk of tableChunks" class="mt-10 overflow-x-auto rounded-xl border border-[#BDBDBD]">
        <table class="w-full inset-0 rounded-xl text-left text-[#6F6F6F]">
            <thead>
                <tr class="bg-gray-200 text-sm">
                    <th *ngFor="let header of chunk.headers" class="p-2">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="chunk.data.length === 0">
                    <td [attr.colspan]="chunk.headers.length" class="text-center p-4">No Data Found</td>
                </tr>
                <tr *ngFor="let row of chunk.data; let i = index" [ngClass]="{ 'bg-gray-100': i % 2 === 1 }">
                    <td *ngFor="let header of chunk.headers" class="p-2 border">{{ row[header] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tableDataWithHeader">
        <div *ngFor="let section of tableDataWithHeader" class="mb-4">
            <div class=" p-2 rounded-top mb-2">
                <h5 class="primaryTxt font-semibold text-xl leading-9">{{ section.header }}</h5>
            </div>
            <div class="mb-4 p-3 border rounded-2xl shadow-sm  bg-[#EBEBEB]">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr *ngFor="let item of section.data">
                            <td class="font-weight-bold mr-2">{{ item.key }}</td>
                            <td>{{ item.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="my-6 space-y-2 ">
        <div *ngFor="let info of PsNotes" class="flex justify-between text-xl">
            <div class="w-1/2 text-left mb-1">
                <span class="font-semibold mr-2">{{ info.EnNote }} </span>
            </div>
            <div class="w-1/2 rtl text-right ">
                <span class="font-semibold ">{{ info.ArNote }} </span>
            </div>
        </div>
    </div>
</div>