<div #printContainer class="p-5 text-sm font-sans">
    <div class="flex justify-between items-center mb-6">
        <div class="w-[40%]">
            <p class="text-base font-semibold mb-1">{{ school?.reportHeaderOneEn }}</p>
            <p class="text-sm">{{ school?.reportHeaderTwoEn }}</p>
        </div>
        <div class="flex justify-center w-[15%]">
            <img [src]="school?.reportImage" class="w-full max-w-[100px]">
        </div>
        <div class="rtl text-end w-[40%]">
            <p class="text-base font-semibold mb-1">{{ school?.reportHeaderOneAr }}</p>
            <p class="text-sm">{{ school?.reportHeaderTwoAr }}</p>
        </div>
    </div>

    <div class="my-6 space-y-2">
        <div *ngFor="let info of infoRows" class="flex justify-between text-xl">
            <!-- English side -->
            <div class="w-1/2 text-left ">
                <span class="font-semibold mr-2">{{ info.keyEn }} : </span>
                <span class="font-light">{{ info.valueEn }}</span>
            </div>
            <!-- Arabic side (optional) -->
            <div class="w-1/2 rtl text-right " *ngIf="info.keyAr && info.valueAr">
                <span class="font-semibold ">{{ info.keyAr }} : </span>
                <span class="font-light">{{ info.valueAr }}</span>
            </div>
        </div>
    </div>

    <div *ngIf="tableData">
        <div class="mt-10 overflow-x-auto rounded-xl border border-[#BDBDBD]">
            <table class="w-full inset-0 rounded-xl text-left text-[#6F6F6F]"
                [class.too-many-columns]="(tableHeaders?.length || 0) > 8">
                <thead>
                    <tr class="bg-gray-200 text-sm">
                        <th *ngFor="let header of tableHeaders" class="p-2">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="tableData?.length === 0">
                        <td [attr.colspan]="tableHeaders?.length" class="text-center p-4">No Data Found</td>
                    </tr>
                    <tr *ngFor="let row of tableData; let i = index" [ngClass]="{ 'bg-gray-100': i % 2 === 1 }"
                        [class.page-break]="i > 0 && i % 25 === 0">
                        <td class="p-2 border">{{ row.id }}</td>
                        <td class="p-2 border">{{ row.en_name }}</td>
                        <td class="p-2 border">{{ row.mobile }}</td>
                        <td class="p-2 border">{{ row.nationalityName }}</td>
                        <td class="p-2 border">{{ row.genderName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngFor="let section of tableDataWithHeader; let i = index" [class.page-break]="i > 0">
        <div class="p-2 mb-2">
            <h5 class="primaryTxt font-semibold text-xl leading-9">{{ section.header }}</h5>
        </div>
        <div class="mb-4 p-3 border rounded-2xl shadow-sm bg-[#EBEBEB]">
            <table class="w-full table-auto text-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th *ngFor="let col of section.headers">{{ col }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of section.data">
                        <td *ngFor="let col of section.headers">{{ row[col] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>