<div class="min-h-screen p-4">
    <app-nav-menu></app-nav-menu>
    <div class="flex space-x-4 mt-4">
        
        <app-side-menu *ngIf="this.User_Data_After_Login.type == 'employee'" [menuItemsForEmployee]="menuItemsForEmployee"></app-side-menu>
        <app-side-menu *ngIf="this.User_Data_After_Login.type == 'parent'||this.User_Data_After_Login.type == 'student'||this.User_Data_After_Login.type == 'octa'" [menuItems]="menuItems"></app-side-menu>

        <div class="w-full overflow-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>