<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    ID
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    English Title
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Arabic Title
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Order
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Lesson English Title
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Lesson Arabic Title
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Lesson Activity Type English Name 
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Lesson Activity Type Arabic Name
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="LessonActivityData.length === 0">
                <td colspan="9" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of LessonActivityData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.englishTitle }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.arabicTitle }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.order }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.lessonEnglishTitle }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.lessonArabicTitle }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.lessonActivityTypeEnglishName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.lessonActivityTypeArabicName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex items-center justify-between">
                        <button 
                            (click)="Delete(row.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                        <button  (click)="openModal(row.id)">
                            <i class="fa-solid fa-pencil"></i>
                        </button> 
                        <!-- <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                            (click)="Delete(row.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                        <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="openModal(row.id)">
                            <i class="fa-solid fa-pencil"></i>
                        </button> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>