<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left rtl:rotate-180" (click)="moveToEmployee()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ 'Categories' | translate }}</h1>
    </div>
</div>

<div class="flex flex-wrap justify-between mt-5 mb-5">
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">{{ 'English Name' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Category.enName }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">{{ 'Arabic Name' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Category.arName }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">{{ 'Order In Form' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Category.orderInForm }}</p>
    </div>
</div>


<div class="">
    <div class="flex justify-between items-center">
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ 'Fields' | translate }}</h1>
        <div class="flex justify-between items-center ">
            <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
            <button (click)="Create()"
                class="rounded-lg secondaryBg text-white px-4 py-3 flex items-center justify-center gap-2">
                {{ 'Add Field' | translate }}
            </button>
        </div>
    </div>


    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
        <table class="overflow-auto w-full bg-[#EBEBEB] ltr:text-left rtl:text-right text-[#6F6F6F]">
            <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'ID' | translate }}
                    </th>
                    <th
                        class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Name of Field English' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Name of Field Arabic' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Order In Form' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Is Mandatory' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Field Type Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="Data.length === 0">
                    <td colspan="7"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        {{ 'No Data Found' | translate }}
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of Data; let i = index"
                    [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    <td
                        class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#30462e] hover:bg-gray-200">
                        {{ row.id }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.enName }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.arName }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.orderInForm }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <i *ngIf="row.isMandatory" class="secondaryTxt text-2xl fa-regular fa-square-check"></i>
                        <i *ngIf="!row.isMandatory" class="text-[#BDBDBD] text-2xl fa-regular fa-square"></i>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.fieldTypeName }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4 rtl:space-x-reverse  ">
                            <button (click)="Delete(row.id)" *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button (click)="Edit(row)" *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" [ngClass]="{'hidden': !isModalVisible}"
    class="fixed top-0 left-0 right-0 z-50 flex justify-center items-center w-full h-full bg-black/50">
    <div class="relative bg-white w-[669px] rounded-2xl p-12 gap-4 shadow-md">
        <!-- Close Icon -->
        <button (click)="closeModal()"
            class="absolute top-4 right-4 text-gray-400 hover:text-gray-900 transition duration-200">
            <i class="fa-solid fa-xmark text-2xl"></i>
        </button>

        <h1 *ngIf="mode=='Create'" class="font-semibold text-2xl leading-9">{{ 'Add Field' | translate }}</h1>
        <h1 *ngIf="mode=='Edit'" class="font-semibold text-2xl leading-9">{{ 'Edit Field' | translate }}</h1>

        <div class="mt-4 bg-[#F7F7F7] w-[573px] h-auto rounded-[24px] p-[16px_24px] gap-[20px]">
            <h6 class="font-medium text-base leading-6 mb-1 mt-3">{{ 'Name of Field English' | translate }}</h6>
            <div class="flex justify-start  gap-2 items-start">
                <div class="flex flex-col">
                    <input type="text"
                        class="w-[500px] h-[45px] rounded-lg border border-solid border-gray-300 px-2 mb-3"
                        [(ngModel)]="field.enName"
                        placeholder="{{ 'Enter' | translate }} {{ 'Name of Field English' | translate }}"
                        (ngModelChange)="onInputValueChange({ field: 'enName', value: $event })" />
                    <span *ngIf="validationErrors['enName']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['enName'] }}</span>


                </div>
            </div>

            <h6 class="font-medium text-base leading-6 mb-1 mt-3">{{ 'Name of Field Arabic' | translate }}</h6>
            <div class="flex justify-start  gap-2 items-start">
                <div class="flex flex-col">
                    <input type="text"
                        class="w-[500px] h-[45px] rounded-lg border border-solid border-gray-300 px-2 mb-3"
                        [(ngModel)]="field.arName"
                        placeholder="{{ 'Enter' | translate }} {{ 'Name of Field Arabic' | translate }}"
                        (ngModelChange)="onInputValueChange({ field: 'arName', value: $event })" />
                    <span *ngIf="validationErrors['arName']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['arName'] }}</span>
                </div>
            </div>

            <h6 class="font-medium text-base leading-6 mb-1 mt-3">{{ 'Field Type Name' | translate }}</h6>
            <div class="flex flex-col mb-4">
                <select (ngModelChange)="onInputValueChange({ field: 'fieldTypeID', value: $event })"
                    class="rounded-lg border border-solid border-gray-300 py-1 overflow-y-auto w-[500px] h-[45px] mb-3"
                    id="fieldType" [(ngModel)]="field.fieldTypeID">
                    <option [value]="0" disabled selected hidden>{{ 'Choose' | translate }} {{ 'Field Type Name' |
                        translate }}</option>
                    <option *ngFor="let type of fieldTypes" [value]="type.id">{{ type.name }}</option>
                    <option *ngIf="fieldTypes.length === 0" disabled>{{ 'No Data Found' | translate }}</option>
                </select>
                <span *ngIf="validationErrors['fieldTypeID']" class="text-red-500 ml-3 font-normal">
                    {{ validationErrors['fieldTypeID'] }}
                </span>
            </div>


            <h6 *ngIf="field.fieldTypeID==4||field.fieldTypeID==5||field.fieldTypeID==7"
                class="font-medium text-base leading-6 mb-1 mt-3">Options</h6>
            <div *ngIf="field.fieldTypeID==4||field.fieldTypeID==5||field.fieldTypeID==7"
                class="border border-gray-300 rounded-lg w-[500px] px-2 py-2 flex flex-wrap gap-2 mb-4">
                <span *ngFor="let opt of options; let i = index"
                    class="flex items-centermr-2 mb-1 bg-gray-200  rounded-full px-3 py-1 text-sm">
                    {{ opt }}
                    <button type="button" class="ml-2 text-white bg-[#6F6F6F] rounded-full px-1"
                        (click)="removeOption(i)">
                        &times;
                    </button>
                </span>
                <input type="text" class="flex-grow outline-none text-sm" [(ngModel)]="inputValue" (ngModelChange)="onInputValueChange({ field: 'options', value: $event })"
                    (keydown.enter)="addOption()" placeholder="Enter option" />
                <span *ngIf="validationErrors['options']" class="text-red-500 ml-3 font-normal">
                    {{ validationErrors['options'] }}
                </span>
            </div>

            <h6 class="font-medium text-base leading-6 mb-1 mt-3">{{ 'Order In Form' | translate }}</h6>
            <div class="flex justify-start  gap-2 items-start">
                <div class="flex flex-col">
                    <input type="text"
                        class="w-[500px] h-[45px] rounded-lg border border-solid border-gray-300 px-2 mb-3"
                        [(ngModel)]="field.orderInForm" placeholder="Ender Order In Form" (input)="validateNumber($event, 'orderInForm')" 
                        (ngModelChange)="onInputValueChange({ field: 'orderInForm', value: $event })" />
                    <span *ngIf="validationErrors['orderInForm']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['orderInForm'] }}</span>
                </div>
            </div>

            <div class="flex items-center">
                <input type="checkbox" id="i" [(ngModel)]="field.isMandatory"
                    class="h-5 w-5 mr-2 ml-2 border-2 border-[#FF7519] focus:ring-0 checked:border-[#FF7519] checked:bg-[#FF7519] text-[#FF7519" />
                <label for="i" class="text-gray-700">
                    {{ 'Is Mandatory' | translate }}
                </label>
            </div>

            <div class="flex justify-end">
                <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg mt-2"
                    (click)="CreateOREdit()">
                    <span *ngIf="!isLoading">{{ 'Save' | translate }}</span>
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
    </div>
</div>