<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left rtl:rotate-180" (click)="moveToBack()"></i>
        <h1 *ngIf="mode == 'Create'" class="primaryTxt font-semibold text-2xl leading-9">Create Shop Items</h1>
        <h1 *ngIf="mode == 'Edit'" class="primaryTxt font-semibold text-2xl leading-9">Edit Shop Items</h1>
    </div>
</div>

<div class="mt-6 mb-4 rounded-3xl flex justify-between flex-wrap py-3">
    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt font-medium" for="enName">English Name</label>
        <input id="enName" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            placeholder="Enter English Name" [(ngModel)]="ShopItem.enName"
            (ngModelChange)="onInputValueChange({ field: 'enName', value: $event })" />
        <span *ngIf="validationErrors['enName']" class="text-red-500 ml-3 font-normal">{{ validationErrors['enName']
            }}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt font-medium" for="arName">Arabic Name</label>
        <input id="arName" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            placeholder="Enter Arabic Name" [(ngModel)]="ShopItem.arName"
            (ngModelChange)="onInputValueChange({ field: 'arName', value: $event })" />
        <span *ngIf="validationErrors['arName']" class="text-red-500 ml-3 font-normal">{{ validationErrors['arName']
            }}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="font-medium text-base leading-6 mb-1 mt-3" for="enDes">English Description</label>
        <div class="flex justify-start gap-2 items-start">
            <div class="flex flex-col w-full">
                <textarea id="enDes"
                    class="w-full h-[100px] rounded-lg border border-solid border-gray-300 px-4 py-3 mb-3 resize-none"
                    [(ngModel)]="ShopItem.enDescription" placeholder="Enter Description"
                    (ngModelChange)="onInputValueChange({ field: 'enDescription', value: $event })"></textarea>
            </div>
        </div>
        <span *ngIf="validationErrors['enDescription']" class="text-red-500 ml-3 font-normal">{{
            validationErrors['enDescription'] }}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="font-medium text-base leading-6 mb-1 mt-3" for="arDes">Arabic Description</label>
        <div class="flex justify-start gap-2 items-start">
            <div class="flex flex-col w-full">
                <textarea id="arDes"
                    class="w-full h-[100px] rounded-lg border border-solid border-gray-300 px-4 py-3 mb-3 resize-none"
                    [(ngModel)]="ShopItem.arDescription" placeholder="Enter Description"
                    (ngModelChange)="onInputValueChange({ field: 'arDescription', value: $event })"></textarea>
            </div>
        </div>
        <span *ngIf="validationErrors['arDescription']" class="text-red-500 ml-3 font-normal">{{
            validationErrors['arDescription'] }}</span>
    </div>

    <div class="flex flex-col mb-4 w-[33%]">
        <label class="mb-2 primaryTxt font-medium" for="Purchase">Purchase Price</label>
        <input id="Purchase" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (input)="validateNumber($event, 'purchasePrice')" placeholder="Enter Price"
            [(ngModel)]="ShopItem.purchasePrice"
            (ngModelChange)="onInputValueChange({ field: 'purchasePrice', value: $event })" />
        <span *ngIf="validationErrors['purchasePrice']" class="text-red-500 ml-3 font-normal">{{
            validationErrors['purchasePrice'] }}</span>
    </div>

    <div class="flex flex-col mb-4 w-[33%]">
        <label class="mb-2 primaryTxt font-medium" for="Sales">Sales Price</label>
        <input id="Sales" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (input)="validateNumber($event, 'salesPrice')" placeholder="Enter Price" [(ngModel)]="ShopItem.salesPrice"
            (ngModelChange)="onInputValueChange({ field: 'salesPrice', value: $event })" />
        <span *ngIf="validationErrors['salesPrice']" class="text-red-500 ml-3 font-normal">{{
            validationErrors['salesPrice'] }}</span>
    </div>

    <div class="flex flex-col mb-4 w-[33%]">
        <label class="mb-2 primaryTxt font-medium" for="Vat">Vat for Foreign</label>
        <input id="Vat" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (input)="validateNumber($event, 'vatForForeign')" placeholder="Enter Vat"
            [(ngModel)]="ShopItem.vatForForeign" />
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2 font-medium" for="Category">Category</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Category"
            [(ngModel)]="CategoryId" (change)="onCategoryChange($event)">
            <option [value]="0" disabled selected hidden>Choose Category</option>
            <option *ngFor="let c of Categories" [value]="c.id">{{ c.name }}</option>
            <option *ngIf="Categories.length === 0" disabled selected>No Data Found</option>
        </select>
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2 font-medium" for="Sub"
            [ngClass]="{ 'text-gray-400': !CategoryId, 'primaryTxt': CategoryId }">Sub Category</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Sub"
            [(ngModel)]="ShopItem.inventorySubCategoriesID" [disabled]="!CategoryId"
            [ngClass]="{ 'bg-[#EBEBEB]': !CategoryId }"
            (ngModelChange)="onInputValueChange({ field: 'inventorySubCategoriesID', value: $event })">
            <option [value]="0" disabled selected hidden>Choose Sub Category</option>
            <option *ngFor="let inv of InventorySubCategories" [value]="inv.id">{{ inv.name }}</option>
            <option *ngIf="InventorySubCategories.length === 0" disabled selected>No Data Found</option>
        </select>
        <span *ngIf="validationErrors['inventorySubCategoriesID']" class="text-red-500 ml-3 font-normal">{{
            validationErrors['inventorySubCategoriesID'] }}</span>
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2 font-medium" for="School">Schools</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="School"
            [(ngModel)]="ShopItem.schoolID" (change)="onSchoolChange($event)"
            (ngModelChange)="onInputValueChange({ field: 'schoolID', value: $event })">
            <option [value]="0" disabled selected hidden>Choose School</option>
            <option *ngFor="let s of Schools" [value]="s.id">{{ s.name }}</option>
            <option *ngIf="Schools.length === 0" disabled selected>No Data Found</option>
        </select>
        <span *ngIf="validationErrors['schoolID']" class="text-red-500 ml-3 font-normal">{{ validationErrors['schoolID']
            }}</span>
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2" for="Grade" [ngClass]="{ 'text-gray-400': !SchoolId, 'primaryTxt': SchoolId }">Grade
            Level</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Grade"
            [disabled]="!SchoolId" [ngClass]="{ 'bg-[#EBEBEB]': !SchoolId }" [(ngModel)]="ShopItem.gradeID">
            <option [value]="0 || null" disabled selected hidden>Choose Grade Level</option>
            <option value="0">All Grades</option>
            <option *ngFor="let g of Grades" [value]="g.id">{{ g.name }}</option>
            <option *ngIf="Grades.length === 0" disabled selected>No Data Found</option>
        </select>
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2 font-medium" for="Gender">Gender</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Gender"
            [(ngModel)]="ShopItem.genderID">
            <option [value]="0 || null" disabled selected hidden>Choose Gender</option>
            <option value="0">All Genders</option>
            <option *ngFor="let g of gender" [value]="g.id">{{ g.name }}</option>
            <option *ngIf="gender.length === 0" disabled selected>No Data Found</option>
        </select>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt font-medium" for="limit">Limit</label>
        <input id="limit" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (input)="validateNumber($event, 'limit')"
            (ngModelChange)="onInputValueChange({ field: 'limit', value: $event })" placeholder="Enter limit"
            [(ngModel)]="ShopItem.limit" />
        <span *ngIf="validationErrors['limit']" class="text-red-500 ml-3 font-normal">{{ validationErrors['limit']
            }}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt font-medium" for="color">Colors</label>
        <div class="border border-gray-300 rounded-lg px-4 py-3 flex flex-wrap gap-2 mb-4">
            <span *ngFor="let opt of colors; let i = index"
                class="flex items-center mr-2 mb-1 bg-gray-200 rounded px-3 py-2">
                {{ opt }}
                <button type="button" class="ml-2 text-white bg-[#6F6F6F] rounded px-1" (click)="removeColor(i)">
                    &times;
                </button>
            </span>
            <input type="text" class="flex-grow outline-none" [(ngModel)]="inputValue" id="color"
                (keydown.enter)="addColor()" placeholder="Enter options" />
        </div>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt font-medium" for="size">Size</label>
        <div class="border border-gray-300 rounded-lg px-4 py-3 flex flex-wrap gap-2 mb-4">
            <span *ngFor="let opt of Sizes; let i = index"
                class="flex items-center mr-2 mb-1 bg-gray-200  rounded px-3 py-2">
                {{ opt }}
                <button type="button" class="ml-2 text-white bg-[#6F6F6F] rounded px-1" (click)="removeSize(i)">
                    &times;
                </button>
            </span>
            <input type="text" class="flex-grow outline-none" [(ngModel)]="inputValueSize" id="size"
                (keydown.enter)="addSize()" placeholder="Enter options" />
        </div>
    </div>

    <div class="flex w-full space-x-2 items-center mb-6">
        <input type="checkbox" id="Available" class="w-5 h-5" (change)="onAvailableInShopkChange($event)"
            [checked]="ShopItem.availableInShop">
        <label for="Available" class="text-sm">Available IN Shop </label>
    </div>

    <div class="flex flex-col mb-4 w-full">
        <label class="mb-2 primaryTxt font-medium" for="barCode">Generate Bar Code</label>
        <input id="barCode" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3 w-[49%]"
            placeholder="Generate Bar Code" [(ngModel)]="ShopItem.barCode" />
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="font-medium text-base leading-6 mb-1 mt-3">Main Image</label>
        <div class="bg-[#F6F6F6] flex items-center space-x-4 w-full rounded-md border-dashed mb-4 border-2">
            <div class="flex justify-center w-full">
                <label for="imageMain" class="cursor-pointer flex flex-col items-center rounded-xl px-6 py-3 lg:py-5">
                    <img *ngIf="!ShopItem.mainImage && !ShopItem.mainImageFile" src="Images/Icon frame.png"
                        class="w-1/4">
                    <img *ngIf="!ShopItem.mainImage && ShopItem.mainImageFile" src="Images/FileAttached.png"
                        class="w-1/4">
                    <img *ngIf="ShopItem.mainImage && !ShopItem.mainImageFile" [src]="ShopItem.mainImage"
                        class="w-1/3 object-cover">
                    <p class="font-normal text-xs md:text-sm text-[#8E8E93] mt-3">
                        <span class="secondaryTxt">Click to Upload</span> 
                    </p>
                    <p class="font-normal text-xs md:text-sm text-[#8E8E93]"> (Max. File size: 25 MB each)</p>
                </label>
                <input id="imageMain" type="file" class="hidden" accept="image/jpeg, image/png" multiple
                    (change)="onImageMainFileSelected($event)" />
            </div>
            <span *ngIf="validationErrors['mainImageFile']" class="text-red-500 font-normal text-xs md:text-sm">{{
                validationErrors['mainImageFile'] }}</span>
        </div>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="font-medium text-base leading-6 mb-1 mt-3">Other Image</label>
        <div class="bg-[#F6F6F6] flex items-center space-x-4 w-full rounded-md border-dashed mb-4 border-2">
            <div class="flex justify-center w-full">
                <label for="otherImage" class="cursor-pointer flex flex-col items-center rounded-xl px-6 py-3 lg:py-5">
                    <img *ngIf="!ShopItem.otherImage && !ShopItem.otherImageFile" src="Images/Icon frame.png"
                        class="w-1/4">
                    <img *ngIf="!ShopItem.otherImage && ShopItem.otherImageFile" src="Images/FileAttached.png"
                        class="w-1/4">
                    <img *ngIf="ShopItem.otherImage && !ShopItem.otherImageFile" [src]="ShopItem.otherImage"
                        class="w-1/3 object-cover">
                    <p class="font-normal text-xs md:text-sm text-[#8E8E93] mt-3">
                        <span class="secondaryTxt">Click to Upload</span> 
                    </p>
                    <p class="font-normal text-xs md:text-sm text-[#8E8E93]"> (Max. File size: 25 MB each)</p>
                </label>
                <input id="otherImage" type="file" class="hidden" accept="image/jpeg, image/png" multiple
                    (change)="onImageOtherFileSelected($event)" />
            </div>
            <span *ngIf="validationErrors['otherImageFile']" class="text-red-500  font-normal text-xs md:text-sm">{{
                validationErrors['otherImageFile'] }}</span>
        </div>
    </div>

    <div class="flex justify-end w-full">
        <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg mt-2"
            (click)="Save()">
            <span *ngIf="!isLoading">Save</span>
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
        </button>
    </div>
</div>