<div class="flex justify-between items-center">
  <div class="flex justify-between items-center space-x-5">
    <i class="fa-solid fa-chevron-left" (click)="moveToEmployee()"></i>
    <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ TestName }}</h1>
  </div>
  <div class="flex justify-between items-center">
    <p *ngIf="mode=='degree'&&StateId==4" class="secondaryBg text-white font-medium px-5 py-2 rounded-lg mt-2">
      {{ mark }} / {{TotalMark}}   
    </p>
    <p *ngIf="mode=='degree'&&StateId!=4" class="secondaryBg text-white font-medium px-5 py-2 rounded-lg mt-2">
      _ _ / {{TotalMark}}
    </p>
    <button *ngIf="mode=='test'" (click)="Save()" class="secondaryBg text-white font-medium px-5 py-2 rounded-lg mt-2">
      Submit
    </button>
  </div>
</div>

<div *ngIf="mode === 'degree'">
  <div *ngFor="let row of Data; let i = index" class="mt-5">
    <div>
      <div class="primaryBg p-4 rounded-xl text-white mb-4">
        {{ row.questionTypeName }}
      </div>
      <div *ngIf="row.questionTypeID !== 3" class="flex justify-start flex-wrap ">
        <div *ngFor="let q of row.questions; let i = index" class="w-[29%] mr-1">
          <div *ngIf="row.questionTypeID !== 3" class="bg-[#EBEBEB] p-4 rounded-xl mb-2 border" [ngClass]="{
              'border-[#177C03]': q.answerName === q.correctAnswerName&&StateId==4,
              'border-[#EA3A3D]': q.answerName !== q.correctAnswerName&&StateId==4
            }">
            <div class="text-[#6F6F6F] font-semibold">{{ q.description }} ?</div>
            <div>
              {{ q.answerName ? q.answerName : 'Not Answerd' }}
            </div>
          </div>
          <div *ngIf="q.answerName !== q.correctAnswerName">
            Correct Answer : {{ q.correctAnswerName }}
          </div>
        </div>
      </div>
      <div *ngIf="row.questionTypeID === 3" class="">
        <div *ngFor="let q of row.questions; let i = index">
          <div class="bg-[#EBEBEB] p-4 rounded-xl mb-2">
            <div class="text-[#6F6F6F] font-semibold">{{ q.description }} ?</div>
            <div>
              {{ q.answerName ? q.answerName : 'Not Answerd' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mode =='test'">
  <div *ngFor="let row of questions; let i = index" class="mt-5">
    <div>
      <div class="primaryBg p-4 rounded-xl text-white mb-4">
        {{ row.questionTypeName }}
      </div>
      <div *ngIf="row.questionTypeID !== 3">
        <div *ngFor="let q of row.questions; let questionIndex = index">
          <div class="bg-[#EBEBEB] p-4 rounded-xl mb-2 border">
            <div *ngIf="q.video" class="bg-[#F6F6F6] rounded-md border-dashed border-2 w-[60%] px-6 py-3 lg:py-5 mb-2">
              <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Video</p>
              <video *ngIf="q.video" [src]="q.video" class="object-cover w-full" controls>
              </video>
            </div>
            <div *ngIf="q.image " class="bg-[#F6F6F6] rounded-md border-dashed border-2 w-[60%] px-6 py-3 lg:py-5 mb-2">
              <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Image</p>
              <img *ngIf="q.image" [src]="q.image" class="object-cover w-2/3">
            </div>
            <div>{{ q.description }}?</div>
            <div *ngFor="let option of q.options; let optionIndex = index" class="mt-5">
              <div (click)="selectOption(q.id,option.id,optionIndex)">
                <i [ngClass]="{
                  'fa-circle-dot': isCircleDot(Answers, q.id, option.id),
                  'fa-circle': !isCircleDot(Answers, q.id, option.id)
                }" class="fa-regular"></i>
                {{ option.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="row.questionTypeID === 3" class="">
        <div *ngFor="let q of row.questions; let i = index">
          <div class="bg-[#EBEBEB] p-4 rounded-xl mb-2">
            <div class="mb-2">{{ q.description }} ?</div>
            <div>
              <textarea class="p-4 text-left resize-none w-full rounded-xl" (input)="EssayAnswer(q.id, $event)"
                placeholder="Enter your answer"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>