<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
        <i class="fa-solid fa-chevron-left" (click)="moveToEmployee()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{TestName}}</h1>
    </div>
    <div class="flex justify-between items-center ">
        <button (click)="AddDegree()" class="secondaryBg text-white font-medium px-5 py-2 rounded-lg mt-2">
            Degree
        </button>
    </div>
</div>


<div *ngFor="let row of Data; let i = index" class="mt-5 ">
    <div>
        <div class="primaryBg p-4 rounded-xl text-white mb-4">
            {{row.questionTypeName}}
        </div>
        <div *ngIf="row.questionTypeID !== 3" class="flex justify-between flex-wrap">
            <div *ngFor="let q of row.questions; let i = index" class="w-[29%]">
                <div *ngIf="row.questionTypeID !== 3" class="bg-[#EBEBEB] p-4 rounded-xl mb-2 border" [ngClass]="{
                     'border-[#177C03]': q.answerName === q.correctAnswerName,
                     'border-[#EA3A3D]': q.answerName !== q.correctAnswerName
                   }">
                    <div>
                        {{q.description}} ?
                    </div>
                    <div>
                        {{q.answerName}}
                    </div>
                </div>
                <div *ngIf="q.answerName !== q.correctAnswerName">
                    Correct Answer : {{q.correctAnswerName}}
                </div>
            </div>
        </div>
        <div *ngIf="row.questionTypeID === 3" class="">
            <div *ngFor="let q of row.questions; let i = index">
                <div class="bg-[#EBEBEB] p-4 rounded-xl mb-2">
                    <div>
                        {{q.description }} ?
                    </div>
                    <div>
                        {{q.essayAnswer}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" [ngClass]="{'hidden': !isModalVisible}"
    class="fixed top-0 left-0 right-0 z-50 flex justify-center items-center w-full h-full bg-black/50">
    <div class="relative bg-white w-[669px] rounded-2xl p-12 gap-4 shadow-md overflow-y-auto max-h-[90vh]">
        <div class="flex justify-between">
            <h1 class="font-semibold text-2xl leading-9">Mark</h1>
            <!-- Close Icon -->
            <button (click)="closeModal()"
                class="text-gray-400 hover:text-gray-900 transition duration-200">
                <i class="fa-solid fa-xmark text-2xl"></i>
            </button>
        </div>
        <div class="mt-4 bg-[#F7F7F7] w-[573px] rounded-[24px] p-[16px_24px] gap-[20px]">

            <h6 class="font-medium text-base leading-6 mb-1 mt-3">{{RegesterForm.testName}}</h6>
            <div class="flex justify-start gap-2 items-start">
                <div class="flex flex-col">
                    <input type="text"
                        class="w-[500px] h-[45px] rounded-lg border border-solid border-gray-300 px-2 mb-3"
                        [(ngModel)]="RegesterForm.mark" placeholder=" " (input)="validateNumber($event, 'mark')" min="0"
                        step="1" />
                    <span *ngIf="MarkIsEmpty" class="text-red-500 ml-3 font-normal">Mark Is Required</span>
                </div>
            </div>

            <div class="flex items-center">
                <input type="checkbox" id="i" [(ngModel)]="RegesterForm.visibleToParent"
                    class="h-5 w-5 mr-2 ml-2 border-2 border-[#FF7519] focus:ring-0 checked:border-[#FF7519] checked:bg-[#FF7519] text-[#FF7519" />
                <label for="i" class="text-gray-700">
                    Visible To Parent
                </label>
            </div>


            <div class="flex justify-end">
                <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg mt-2"
                    (click)="Save()">
                    <span *ngIf="!isLoading">Save</span>
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                </button>
            </div>

        </div>
    </div>
</div>