<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ 'Schools' | translate }}</h1>
    <div class="flex justify-between items-center ">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
    </div>
</div>

<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] ltr:text-left rtl:text-right text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{ 'ID' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    {{ 'School Name' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{ 'Address' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{ 'School type' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{ 'VatNumber' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{ 'Actions' | translate }}
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="schoolData.length === 0">
                <td colspan="5" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of schoolData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.name }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.address }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.schoolTypeName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.vatNumber }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4"> 
                        <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="openModal(row.id)">
                            <i class="fa-solid fa-pencil"></i>
                        </button> 
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Edit School Modal -->
<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-1/2 max-h-[95%] overflow-y-auto m-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">{{ 'Edit School' | translate }}</h1>
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>
        
        <div class="p-[16px_24px] mt-6 mb-4 flex flex-wrap justify-between">
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="name">{{ 'School Name' | translate }}</label>
                <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="{{ 'Enter' | translate }} {{ 'School Name' | translate }}"
                [(ngModel)]="school.name" 
                (ngModelChange)="onInputValueChange({ field: 'name', value: $event })"/>
                <span *ngIf="validationErrors['name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['name'] }}</span>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="address">{{ 'Address' | translate }}</label>
                <input id="address" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="{{ 'Enter' | translate }} {{ 'Address' | translate }}"
                [(ngModel)]="school.address" 
                (ngModelChange)="onInputValueChange({ field: 'address', value: $event })"/>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="header1">{{ 'Report Header 1 English' | translate }}</label>
                <textarea id="header1" class="rounded-lg border border-solid border-gray-300 px-4 py-3 min-h-28" placeholder="{{ 'Enter' | translate }} {{ 'Report Header 1 English' | translate }}"
                [(ngModel)]="school.reportHeaderOneEn"
                (ngModelChange)="onInputValueChange({ field: 'reportHeaderOneEn', value: $event })"></textarea>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="headerar1">{{ 'Report Header 1 Arabic' | translate }}</label>
                <textarea id="headerar1" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3 min-h-28" placeholder="{{ 'Enter' | translate }} {{ 'Report Header 1 Arabic' | translate }}"
                [(ngModel)]="school.reportHeaderOneAr" 
                (ngModelChange)="onInputValueChange({ field: 'reportHeaderOneAr', value: $event })"></textarea>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="header2">{{ 'Report Header 2 English' | translate }}</label>
                <textarea id="header2" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3 min-h-28" placeholder="{{ 'Enter' | translate }} {{ 'Report Header 2 English' | translate }}"
                [(ngModel)]="school.reportHeaderTwoEn" 
                (ngModelChange)="onInputValueChange({ field: 'reportHeaderTwoEn', value: $event })"></textarea>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="headerar2">{{ 'Report Header 2 Arabic' | translate }}</label>
                <textarea id="headerar2" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3 min-h-28" placeholder="{{ 'Enter' | translate }} {{ 'Report Header 2 Arabic' | translate }}"
                [(ngModel)]="school.reportHeaderTwoAr" 
                (ngModelChange)="onInputValueChange({ field: 'reportHeaderTwoAr', value: $event })"></textarea>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="VatNumber">{{ 'VatNumber' | translate }}</label>
                <input id="VatNumber" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="{{ 'Enter' | translate }} {{ 'VatNumber' | translate }}"
                [(ngModel)]="school.vatNumber" 
                (ngModelChange)="onInputValueChange({ field: 'vatNumber', value: $event })"/>
            </div>
            <div class="w-full mb-4">
                <div class="bg-[#F6F6F6] flex items-center space-x-4 w-full rounded-md border-dashed border-2">
                    <div class="flex justify-center w-full">
                        <label for="file-upload" class="cursor-pointer flex flex-col items-center rounded-xl px-6 py-3 lg:py-5">
                            <img *ngIf="!school.reportImage && !school.reportImageFile" src="Images/Icon frame.png" class="w-1/4">
                            <img *ngIf="school.reportImageFile" src="Images/FileAttached.png" class="w-1/4">
                            <img *ngIf="school.reportImage && ! school.reportImageFile" [src]="school.reportImage" class="w-1/3 object-cover">
                            <p class="font-normal text-xs md:text-sm text-[#8E8E93] mt-3"><span class="secondaryTxt">{{ 'Click To Upload' | translate }} </span>{{ 'or drag and drop Icon' | translate }}</p>
                            <p class="font-normal text-xs md:text-sm text-[#8E8E93]"> ({{ 'Max. File size' | translate }}: 25 MB)</p>
                        </label>
                        <input id="file-upload" type="file" class="hidden" (change)="onImageFileSelected($event)" accept="image/jpeg, image/png"  />
                    </div>
                </div>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="headerar2">{{ 'Maximum Period Count (Time Table)' | translate }}</label>
                <textarea id="headerar2" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3 min-h-28" placeholder="{{ 'Enter' | translate }} {{ 'Report Header 2 Arabic' | translate }}"
                [(ngModel)]="school.reportHeaderTwoAr" 
                (ngModelChange)="onInputValueChange({ field: 'reportHeaderTwoAr', value: $event })"></textarea>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="VatNumber">{{ 'Maximum Period Count (remedials)' | translate }}</label>
                <input id="VatNumber" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="{{ 'Enter' | translate }} {{ 'VatNumber' | translate }}"
                [(ngModel)]="school.vatNumber" 
                (ngModelChange)="onInputValueChange({ field: 'vatNumber', value: $event })"/>
            </div>
        </div>

        <div class="flex justify-end">
            <button
            [disabled]="isLoading"
            class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
            (click)="SaveSchool()"
          >
            <span *ngIf="!isLoading">{{ 'Save' | translate }} </span>
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          </button>
        </div>
    </div>
</div>
