<div class="container mx-auto pr-6">
    <!-- Header Section -->
    <div class="flex justify-between">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left rtl:rotate-180" (click)="moveToHygieneForm()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Hygiene Form</h1>
    </div>        <div class="flex justify-between items-center">
            <button (click)="saveHygieneForm()"
                class="text-white rounded-lg px-4 py-2.5 flex items-center justify-center gap-2"
                style="background-color: #FF7519;">
                Save
            </button>
        </div>
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="bg-red-50 text-red-600 px-4 py-2 rounded-lg mx-auto text-center mb-4 mt-4">
        {{ errorMessage }}
    </div>

    <!-- Selection Inputs -->
    <div class="mt-6 mb-4 rounded-3xl flex justify-between flex-wrap">
        <!-- School Select -->
        <div class="flex flex-col mb-4 w-[49%]">
            <label class="mb-2 primaryTxt" for="school">School</label>
            <select id="school" [(ngModel)]="selectedSchool" (change)="onSchoolChange()"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto">
                <option [value]="null" disabled selected hidden>Choose School</option>
                <option *ngFor="let school of schools" [value]="school.id">{{ school.name }}</option>
                <option *ngIf="schools.length === 0" disabled selected>No Data Found</option>
            </select>
            <span *ngIf="validationErrors['school']" class="text-red-500 ml-3 font-normal">{{ validationErrors['school']
                }}</span>
        </div>

        <!-- Grade Select -->
        <div class="flex flex-col mb-4 w-[49%]">
            <label class="mb-2 primaryTxt" for="grade">Grade</label>
            <select id="grade" [(ngModel)]="selectedGrade" (change)="onGradeChange()"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                [disabled]="!selectedSchool">
                <option [value]="null" disabled selected hidden>Choose Grade</option>
                <option *ngFor="let grade of grades" [value]="grade.id">{{ grade.name }}</option>
                <option *ngIf="grades.length === 0" disabled selected>No Data Found</option>
            </select>
            <span *ngIf="validationErrors['grade']" class="text-red-500 ml-3 font-normal">{{ validationErrors['grade']
                }}</span>
        </div>

        <!-- Class Select -->
        <div class="flex flex-col mb-4 w-[49%]">
            <label class="mb-2 primaryTxt" for="class">Class</label>
            <select id="class" [(ngModel)]="selectedClass" (change)="onClassChange()"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                [disabled]="!selectedGrade">
                <option [value]="null" disabled selected hidden>Choose Class</option>
                <option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</option>
                <option *ngIf="classes.length === 0" disabled selected>No Data Found</option>
            </select>
            <span *ngIf="validationErrors['class']" class="text-red-500 ml-3 font-normal">{{ validationErrors['class']
                }}</span>
        </div>

        <!-- Date Input -->
        <div class="flex flex-col mb-4 w-[49%]">
            <label class="mb-2 primaryTxt" for="date">Date</label>
            <input type="date" id="date" [(ngModel)]="selectedDate"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3" [disabled]="!selectedClass">
            <span *ngIf="validationErrors['date']" class="text-red-500 ml-3 font-normal">{{ validationErrors['date']
                }}</span>
        </div>
    </div>

    <!-- Table Section -->
    <app-hygiene-form-table [students]="students" [hygieneTypes]="hygieneTypes"></app-hygiene-form-table>
</div>