.square-check {
    -webkit-appearance: none;  /* Remove default styling in Webkit browsers */
    -moz-appearance: none;     /* Remove default styling in Firefox */
    appearance: none;          /* Remove default styling in all browsers */
    width: 18px;               
    height: 18px;               
    border: 2px solid #b6b6b6;  
    border-radius: 0;      
    background-color: #fff;    
    position: relative;
}

.square-check:checked::before {
    content: '';     
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #FF7519;  
}

.square-radio {
    -webkit-appearance: none;  /* Remove default styling in Webkit browsers */
    -moz-appearance: none;     /* Remove default styling in Firefox */
    appearance: none;          /* Remove default styling in all browsers */
    width: 18px;               
    height: 18px;         
    border-radius: 100%;
    border: 2px solid #b6b6b6;  
    background-color: #fff;    
    position: relative;
}

.square-radio:checked::before {
    content: '';     
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #FF7519;  
}

.error-border {
    border-color: #f87171; 
}

.text-red-500 {
    color: #f87171; 
}
