<div class="mt-5">
    <label for="Students" class="block mb-2 text-sm font-medium text-gray-900">Students</label>
    <select id="Students" (change)="SelectStudent($event)"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
        <option value="" disabled selected hidden>Select a Student</option>
        <option *ngFor="let s of Students" [value]="s.id">
            {{ s.studentName }}
        </option>
    </select>
</div>


<div *ngIf="IsStudentSelected" class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Test Title
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    State
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Subject
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Mark
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="Data.length === 0">
                <td colspan="17"
                    class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of Data; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.title }}</td>
                <td *ngIf="row.registrationTestState!=null" class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <i *ngIf="row.registrationTestStateId == 1" class="fa-solid fa-circle fa-1x" ></i>           
                    <i *ngIf="row.registrationTestStateId === 4 || row.registrationTestStateId === 2" class="fa-solid fa-circle fa-1x text-green-500"></i>
                    <i *ngIf="row.registrationTestStateId === 3" class="fa-solid fa-circle fa-1x text-red-500"></i>
                    {{ row.registrationTestState }}
                </td>
                <td *ngIf="row.registrationTestState==null" class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    Not Solved Yet
                </td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.subjectName }}</td>
                <td *ngIf="row.registrationTestMark !=null " class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.registrationTestMark }} / {{row.totalMark}}</td>
                <td *ngIf="row.registrationTestMark ===null " class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">-- / {{row.totalMark}}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4">
                        <button (click)="View(row)">
                            <img src="Images/AddMarkIcon.png" class="w-5" alt="Upload Icon">
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>