<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
        <i class="fa-solid fa-chevron-left" (click)="moveToMaster()"></i>
        <h1 *ngIf="mode=='Create'" class="font-semibold text-2xl leading-9">
            Create
        </h1>
        <h1 *ngIf="mode=='Edit'" class="font-semibold text-2xl leading-9">
            Edit
        </h1>
    </div>

    <div class="flex space-x-2">
        <button class="secondaryBg text-white font-medium px-6 py-3 rounded-lg" (click)="Save()">
            Save
        </button>
    </div>
</div>


<div class="mt-6 mb-4 rounded-3xl flex justify-start space-x-2 flex-wrap py-3">
    <div class="flex flex-col w-[24%] mb-4">
        <label class="mb-2" for="store">Store</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Store"
            (ngModelChange)=" onInputValueChange({ field: 'storeID', value: $event })" [(ngModel)]="Data.storeID"
            (ngModelChange)="onStoreChange($event)">
            <option [value]=0 disabled selected hidden>Choose Store</option>
            <option *ngFor="let s of Stores" [value]="s.id">{{ s.name }}</option>
            <option *ngIf="Stores.length === 0" disabled selected>No Data Found</option>
        </select>
        <span *ngIf="validationErrors['storeID']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["storeID"]}}</span>
    </div>
    <div class="flex flex-col mb-4 w-[24%]">
        <label class="mb-2 primaryTxt" for="name">Invoice Number</label>
        <input id="name" type="text"
            class="rounded-lg border border-solid px-4 py-3  border-gray-300 placeholder-gray-400 focus:outline-none disabled:bg-gray-100 disabled:cursor-not-allowed"
            placeholder="Enter Invoice Number" [(ngModel)]="Data.invoiceNumber" readonly disabled />
    </div>

    <div class="flex flex-col mb-4 w-[24%]">
        <label class="mb-2 primaryTxt" for="name">Date</label>
        <input id="name" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)=" onInputValueChange({ field: 'date', value: $event })" placeholder="Enter Date"
            [(ngModel)]="Data.date" />
        <span *ngIf="validationErrors['date']" class="text-red-500 ml-3 font-normal">{{validationErrors["date"]}}</span>
    </div>
</div>


<div class="flex justify-end items-center space-x-2">
    <!-- <div class="flex justify-between items-center">
        <i class="fas fa-search ltr:mr-3 rtl:ml-3 text-gray-500"
            style="width: 22.51px; height: 22.51px; font-size: 22.51px;" *ngIf="!IsSearchOpen" (click)="SearchToggle()">
        </i>
        <div *ngIf="IsSearchOpen"
            class="relative flex items-center w-full max-w-[432px] sm:max-w-[300px] xs:max-w-[200px] h-[45px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg py-3 ltr:mr-3">
            <input type="number"
                class="outline-none border-none placeholder-[#667085] bg-transparent text-sm md:text-base w-full ltr:pl-1 rtl:pr-1" />
        </div>
        <i class="fas fa-search ltr:mr-3 rtl:ml-3 text-gray-500" *ngIf="IsSearchOpen"
            style="width: 22.51px; height: 22.51px; font-size: 22.51px;" (click)="SearchOnBarCode()">
        </i>
    </div> -->

    <button class="secondaryTxt secondaryBorder px-1 py-2 rounded-lg flex items-center space-x-1" (click)="AddDetail()">
        <div class="secondaryBorder rounded-full flex items-center p-1"><i class="fa-solid fa-plus"></i></div>
        <p>Add</p>
    </button>
</div>

<!-- <div class="flex justify- items-center space-x-2">
    <label>
        <input type="checkbox" />
        ALL Items
    </label>
    <label>
        <input type="checkbox" />
        Has Balance
    </label>
</div> -->

<div *ngIf="IsOpenToAdd==true" class="flex justify-start space-x-5">
    <div class="w-[30%] bg-[#F7F7F7] flex flex-col rounded-[16px] py-3">
        <h1 class="font-semibold text-2xl leading-9 ml-3">Categories</h1>
        <div
            class="flex flex-wrap gap-2  mx-3 overflow-y-auto max-h-60 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
            <div *ngFor="let c of Categories; let i = index">
                <p (click)="selectCategory(c.id)" [class.secondaryBg]="SelectedCategoryId === c.id"
                    [class.text-white]="SelectedCategoryId === c.id"
                    class="bg-[#FFFFFF] p-2 rounded-[16px] cursor-pointer w-fit">
                    {{c.name}}
                </p>
            </div>
        </div>
    </div>
    <div class="w-[30%] bg-[#F7F7F7] flex flex-col rounded-[16px] py-3">
        <h1 class="font-semibold text-2xl leading-9 ml-2 mb-2">Sub_Categories</h1>
        <div
            class="flex flex-wrap gap-2 mx-3 overflow-y-auto max-h-60 px-4 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
            <div *ngFor="let sc of subCategories; let i = index">
                <p (click)="selectSubCategory(sc.id)" [class.secondaryBg]="SelectedSubCategoryId === sc.id"
                    [class.text-white]="SelectedSubCategoryId === sc.id"
                    class="bg-[#FFFFFF] p-2 rounded-[16px] cursor-pointer w-fit">
                    {{sc.name}}
                </p>
            </div>
        </div>
    </div>
    <div class="w-[30%] bg-[#F7F7F7] flex flex-col rounded-[16px] py-3">
        <h1 class="font-semibold text-2xl leading-9 ml-2">Items</h1>
        <div
            class="flex flex-wrap gap-2 overflow-y-auto max-h-60 px-4 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
            <div *ngFor="let item of ShopItems; let i = index">
                <p (click)="selectShopItem(item)" [class.secondaryBg]="SelectedSopItem === item"
                    [class.text-white]="SelectedSopItem === item"
                    class="bg-[#FFFFFF] p-2 rounded-[16px] cursor-pointer w-fit">
                    {{item.enName}}
                </p>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
        <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
            <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Bar Code
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Item ID
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Item Name
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Current Stock
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Actual Stock
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        The Difference
                    </th>
                    <th *ngIf="mode=='Edit'"
                        class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="(Data.stockingDetails?.length === 0) && !IsOpenToAdd && mode === 'Create'">
                    <td colspan="11"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        No Data Found
                    </td>
                </tr>

                <tr *ngIf="(TableData?.length === 0) && !IsOpenToAdd && mode === 'Edit'">
                    <td colspan="11"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        No Data Found
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of (mode === 'Create' ? Data.stockingDetails : TableData) || []; let i = index"
                    [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.barCode }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.shopItemID }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.shopItemName }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.currentStock }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <ng-container *ngIf="editingRowId === row.id; else textModeactualStock">
                            <input [(ngModel)]="row.actualStock" type="actualStock"
                                (ngModelChange)="onStockChangeWhenEditRow(row)"
                                class="w-full border border-gray-300 px-2 py-1 rounded-md">
                        </ng-container>
                        <ng-template #textModeactualStock>{{ row.actualStock }}</ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.theDifference }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4">
                            <button (click)="Delete(row)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button *ngIf="editingRowId === row.id" (click)="SaveEdit(row)">
                                <i class="far fa-check-circle secondaryTxt"></i>
                            </button>
                            <button *ngIf="editingRowId !== row.id" (click)="Edit(row)">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <!-- Add Row -->
                <tr *ngIf="IsOpenToAdd==true && SelectedSopItem !=null"
                    class="border-t border-gray-300 text-xs md:text-sm bg-[#F7F7F7]">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{Item.barCode}}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{Item.shopItemID}}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{Item.shopItemName}}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{Item.currentStock}}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <input [(ngModel)]="Item.actualStock" (ngModelChange)="onStockChangeWhenAddRow()"
                            class="w-full border border-gray-300 px-2 py-1 rounded-md">
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{Item.theDifference}}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4">
                            <button (click)="CancelAdd()">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button (click)="SaveRow()">
                                <i class="far fa-check-circle secondaryTxt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>