<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9 w-1/2">Cart</h1>
    <div class="flex justify-between items-center w-1/2 space-x-4">
        <div class=" relative flex items-center flex-1">
            <span class="absolute text-[#919191] ltr:ml-2 rtl:mr-2">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input #searchInput type="text" class="bg-[#FFFFFF0D] ltr:pl-10 rtl:pr-10 ltr:pr-3 rtl:pl-3 py-2 rounded-lg border w-full"
                placeholder="Search For..." />
        </div>

        <div class="py-2 px-3 border bg-[#F7F7F7] rounded cursor-pointer">
            <i class="fa-solid fa-cart-shopping secondaryTxt"></i>
        </div>

        <div class="py-2 px-3 border bg-[#F7F7F7] rounded cursor-pointer" (click)="goToOrder()">
            <i class="fa-solid fa-gear text-[#919191]"></i>
        </div>
    </div>
</div>

<div *ngIf="cart.id == 0" class="w-full h-[90%] flex justify-center items-center">
    <p>No Items in Cart</p>
</div>

<div *ngIf="cart.id != 0">
    <div *ngFor="let row of cart.cart_ShopItems; let i = index" class="px-4 py-2">
        <div>
            <p>{{ row.shopItemEnNme }}</p>
        </div>
    </div>
</div>