<div class="">
    <div class="flex justify-between items-center">
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Bus</h1>
        <button (click)="openModal()"
        [disabled]="domainId === 0"
        [ngClass]="{ 
            'text-gray-500': domainId === 0, 
            'border border-gray-500': domainId === 0,
            'cursor-not-allowed': domainId === 0,
            'secondaryBorder': domainId !== 0,
            'secondaryTxt': domainId !== 0  
        }"
        class="rounded-lg px-4 py-3 flex items-center justify-center gap-2">
            Create Bus
        </button>
    </div>

    <div [ngClass]="{'hidden': IsEmployee}" class="mt-5">
        <label for="domains" class="block mb-2 text-sm font-medium text-gray-900">Domains</label>
        <select id="domains" (change)="getBusDataByDomainId($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
            <option value="" disabled selected hidden>Select a Domain</option>
            <option *ngFor="let domain of DomainData" [value]="domain.id">
                {{ domain.name }}
            </option>
        </select>
    </div>
    
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full" [ngClass]="{'hidden': domainId == 0}" >
        <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
            <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Bus ID
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                        Bus Name
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Bus Type
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Bus Restrict
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Active Bus
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Capacity
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Restrict
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Driver
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Driver Assistant
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Company
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="busData.length === 0">
                    <td colspan="11" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        No Data Found
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of busData; let i = index"
                    [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                    class="border-t border-gray-300 text-xs md:text-sm">

                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#30462e] hover:bg-gray-200" (click)="MoveToBusStudent(row.id)">{{ row.id }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.name }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.busTypeName; else emptybusTypeName">
                            <div class="truncate" title="{{ row.busTypeName }}">
                                {{ row.busTypeName }}
                            </div>
                        </div>
                        <ng-template #emptybusTypeName>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.busRestrictName; else emptyRestrict">
                            <div class="truncate" title="{{ row.busRestrictName }}">
                                {{ row.busRestrictName }}
                            </div>
                        </div>
                        <ng-template #emptyRestrict>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.busStatusName; else emptybusStatusName">
                            <div class="truncate" title="{{ row.busStatusName }}">
                                {{ row.busStatusName }}
                            </div>
                        </div>
                        <ng-template #emptybusStatusName>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.capacity }}</td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <i *ngIf="row.isCapacityRestricted" class="secondaryTxt text-2xl fa-regular fa-square-check"></i>
                        <i *ngIf="!row.isCapacityRestricted" class="text-[#BDBDBD] text-2xl fa-regular fa-square"></i>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.driverName; else emptydriverName">
                            <div class="truncate" title="{{ row.driverName }}">
                                {{ row.driverName }}
                            </div>
                        </div>
                        <ng-template #emptydriverName>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.driverAssistantName; else emptydriverAssistantName">
                            <div class="truncate" title="{{ row.driverAssistantName }}">
                                {{ row.driverAssistantName }}
                            </div>
                        </div>
                        <ng-template #emptydriverAssistantName>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.busCompanyName; else emptydriverbusCompanyName">
                            <div class="truncate" title="{{ row.busCompanyName }}">
                                {{ row.busCompanyName }}
                            </div>
                        </div>
                        <ng-template #emptydriverbusCompanyName>
                            <div class="flex justify-center bg-[#d7d7d7a2] p-3 rounded-md">
                                <div class="w-[70%] h-[1px] bg-[#868d98]"></div>
                            </div>
                        </ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4">
                            <button>
                                <i class="fa-regular fa-trash-can" *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)" (click)="deleteBus(row.id)"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-pencil" *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="openModal(row.id)"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- Modal -->
<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-1/2">
        <div class="flex justify-between items-center">
            <h1 *ngIf="!editBus" class="font-semibold text-2xl leading-9">Create Bus</h1>
            <h1 *ngIf="editBus" class="font-semibold text-2xl leading-9">Edit Bus</h1>
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 flex flex-wrap justify-between">
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="name">Name</label>
                <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter Bus Name"
                [(ngModel)]="bus.name" 
                (ngModelChange)="onInputValueChange({ field: 'name', value: $event })"/>
                <span *ngIf="validationErrors['name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['name'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="type">Type</label>
                <select [(ngModel)]="bus.busTypeID"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="type">
                    <option *ngFor="let type of BusType" [value]="type.id">{{ type.name }}</option>
                    <option *ngIf="BusType.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="restrict">Restrict</label>
                <select [(ngModel)]="bus.busRestrictID"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="restrict" >
                    <option *ngFor="let restrict of BusRestrict" [value]="restrict.id">{{ restrict.name }}</option>
                    <option *ngIf="BusRestrict.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="status">Status</label>
                <select [(ngModel)]="bus.busStatusID"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="status" >
                    <option *ngFor="let status of BusStatus" [value]="status.id">{{ status.name }}</option>
                    <option *ngIf="BusStatus.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="capacity">Capacity</label>
                <input id="capacity" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter Bus Capacity" 
                [(ngModel)]="bus.capacity"
                (ngModelChange)="onInputValueChange({ field: 'capacity', value: $event })"
                (input)="validateNumber($event)"/>
                <span *ngIf="validationErrors['capacity']" class="text-red-500 ml-3 font-normal">{{ validationErrors['capacity'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="driver">Driver</label>
                <select [(ngModel)]="bus.driverID"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="driver" >
                    <option *ngFor="let driver of BusDriver" [value]="driver.id">{{ driver.en_name }}</option>
                    <option *ngIf="BusDriver.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="assistant">Driver Assistante</label>
                <select [(ngModel)]="bus.driverAssistantID"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="assistant" >
                    <option *ngFor="let assistant of BusDriverAssistant" [value]="assistant.id">{{assistant.en_name}}</option>
                    <option *ngIf="BusDriverAssistant.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="company">Company</label>
                <select [(ngModel)]="bus.busCompanyID"
                  class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="company" >
                  <option *ngIf="!bus.busCompanyID" disabled selected>{{ bus.busCompanyName || 'Select Company' }}</option>  <!-- Placeholder -->
                  <option *ngFor="let company of BusCompany" [value]="company.id">{{company.name}}</option>
                  <option *ngIf="BusCompany.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex w-full space-x-5 items-center">
                <input type="checkbox" id="Restricted" class="w-5 h-5"
                (change)="onIsRestrictedChange($event)"
                [checked]="bus.isCapacityRestricted">
                <label for="Restricted" class="text-sm">Restricted Capacity</label>
            </div>
        </div>

        <div class="flex justify-end">
            <button class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="SaveBus()" >
                Save
            </button>
        </div>
    </div>
</div>
