<div id="DataToDownload">
    <div class="no-print flex justify-between items-center">
        <div class="flex justify-between items-center space-x-5">
            <i class="fa-solid fa-chevron-left" (click)="moveToAccountingEntries()"></i>
            <h1 *ngIf="isCreate" class="primaryTxt font-semibold text-2xl leading-9"> Create Accounting Entries</h1>
            <h1 *ngIf="isEdit" class="primaryTxt font-semibold text-2xl leading-9"> Edit Accounting Entries</h1>
            <h1 *ngIf="isView" class="primaryTxt font-semibold text-2xl leading-9"> Accounting Entries</h1>
        </div>
    </div>
    
    <div class="mt-6">
        <div class="flex justify-between">
            <div class="flex flex-col w-[30%]">
                <label class="mb-2 primaryTxt font-medium" for="accountingEntriesDocTypeID">Doc Type</label>
                <select *ngIf="!isView" (ngModelChange)="onInputValueChange({ field: 'accountingEntriesDocTypeID', value: $event })"
                [disabled]="isView"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="accountingEntriesDocTypeID" [(ngModel)]="accountingEntries.accountingEntriesDocTypeID">
                    <option [value]="0" disabled selected hidden>Choose Doc Type</option>
                    <option *ngFor="let dataType of dataTypesData" [value]="dataType.id">{{ dataType.name }}</option>
                    <option *ngIf="dataTypesData.length === 0" disabled selected>No Data Found</option>
                </select>
                <div *ngIf="isView"  
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto text-lg">
                    {{accountingEntries.accountingEntriesDocTypeName}}
                </div>
                <span *ngIf="validationErrors['accountingEntriesDocTypeID']" class="text-red-500 ml-3 font-normal">{{ validationErrors['accountingEntriesDocTypeID'] }}</span>
            </div>
            <div class="flex flex-col w-[30%]">
                <label class="mb-2 primaryTxt font-medium" for="DocType">Doc Number</label>
                <input id="DocType" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                [disabled]="isView"
                    (input)="validateNumber($event, 'docNumber')" 
                    placeholder="Enter Doc Number" [(ngModel)]="accountingEntries.docNumber" />
            </div> 
            <div class="flex flex-col w-[30%]">
                <label class="mb-2 primaryTxt font-medium" for="date">Date</label>
                <input id="date" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3" [(ngModel)]="accountingEntries.date"
                [disabled]="isView"
                (ngModelChange)="onInputValueChange({ field: 'date', value: $event })" />
                <span *ngIf="validationErrors['date']" class="text-red-500 ml-3 font-normal">{{ validationErrors['date'] }}</span>
            </div>
        </div>
    
        <div class="mt-5 flex justify-between"> 
            <div class="flex flex-col w-[30%]" *ngIf="!isCreate">
                <label class="mb-2 primaryTxt font-medium" for="total">Total Credit</label>
                <input id="total" type="text" disabled class="rounded-lg border border-solid border-gray-300 px-4 py-3" [(ngModel)]="totalCredit" />
            </div>
            <div class="flex flex-col w-[30%]" *ngIf="!isCreate">
                <label class="mb-2 primaryTxt font-medium" for="total">Total Debit</label>
                <input id="total" type="text" disabled class="rounded-lg border border-solid border-gray-300 px-4 py-3" [(ngModel)]="totalDebit" />
            </div>
            <div class="flex flex-col w-[30%]" *ngIf="!isCreate">
                <label class="mb-2 primaryTxt font-medium" for="total">The Difference</label>
                <input id="total" type="text" disabled class="rounded-lg border border-solid border-gray-300 px-4 py-3" [(ngModel)]="theDifference" />
            </div>
        </div>
    
        <div class="mt-5 flex flex-col">
            <label class="mb-2 primaryTxt font-medium" for="notes">Notes</label>
            <textarea id="notes" class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3" 
            [disabled]="isView"
                placeholder="Add Notes" [(ngModel)]="accountingEntries.notes">
            </textarea>
        </div>
    </div>
    

    <div class="no-print flex justify-end mt-5 space-x-4 items-center">
        <div class="flex space-x-4" *ngIf="!isCreate">
            <img class="w-5 cursor-pointer" src="Icons/Excel.png" (click)="DownloadAsExcel()" title="Export to Excel">
            <img class="w-5 cursor-pointer" src="Icons/PDF.png" (click)="DownloadAsPDF()" title="Download as PDF">
            <img class="w-5 cursor-pointer" src="Icons/Print.png" (click)="Print()" title="Print">
        </div>

        <button *ngIf="!isView" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg cursor-pointer" (click)="Save()"> Save </button>
    </div>

    <button *ngIf="!isView" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg cursor-pointer"
        (click)="Save()">
        Save
    </button>
</div>

<div class="mt-6" *ngIf="!isCreate">
    <div class="no-print flex justify-end" *ngIf="!isView">
        <button class="secondaryTxt secondaryBorder px-4 py-2 rounded-lg flex items-center space-x-2" (click)="AddAccountingEntriesDetails()"> 
            <div class="secondaryBorder rounded-full flex items-center p-1"><i class="fa-solid fa-plus"></i></div>
            <p>Add Row</p> 
        </button>
    </div>

    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
        <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
            <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        ID
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                        Debit
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Credit
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                        Account Name
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Sub Account
                    </th> 
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Notes
                    </th> 
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="accountingEntriesDetailsData.length === 0 && !isNewDetails">
                    <td colspan="7" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        No Data Found
                    </td>
                </tr>
    
                <!-- New Row with Inputs -->
                <tr *ngIf="isNewDetails" class="no-print bg-white border-t border-gray-300 text-xs md:text-sm">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <input id="debitAmount" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                        (input)="validateNumberNewDetails($event, 'debitAmount')" [(ngModel)]="newDetails.debitAmount" 
                        (ngModelChange)="onInputValueChangeForDetails({ field: 'debitAmount', value: $event })"/>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <input id="creditAmount" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                        (input)="validateNumberNewDetails($event, 'creditAmount')" [(ngModel)]="newDetails.creditAmount" 
                        (ngModelChange)="onInputValueChangeForDetails({ field: 'creditAmount', value: $event })"/>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <select (change)="GetSubAccountData($event)"
                        (ngModelChange)="onInputValueChangeForDetails({ field: 'accountingTreeChartID', value: $event })"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="accountingTreeChartID" [(ngModel)]="newDetails.accountingTreeChartID">
                            <option [value]="0" disabled selected hidden>Choose Account</option>
                            <option *ngFor="let acc of AccountingTreeChartData" [value]="acc.id">{{ acc.name }}</option>
                            <option *ngIf="AccountingTreeChartData.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <select [disabled]="this.newDetails.accountingTreeChartID == 0"
                        (ngModelChange)="onInputValueChangeForDetails({ field: 'subAccountingID', value: $event })"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="subAccountingID" [(ngModel)]="newDetails.subAccountingID">
                            <option [value]="null" disabled selected hidden>Choose Sub Account Data</option>
                            <option *ngFor="let sub of subAccountData" [value]="sub.id">{{ sub.en_name }} {{ sub.name }}</option>
                            <option *ngIf="subAccountData.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <textarea id="notes" class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3" 
                            placeholder="Add Notes" [(ngModel)]="newDetails.note">
                        </textarea>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4"> 
                            <button [disabled]="!isDetailsValid || isLoading" [ngClass]="{'cursor-not-allowed opacity-50' : !isDetailsValid}">
                                <i (click)="SaveNewDetails()" *ngIf="!isLoading" class="fa-solid fa-check secondaryTxt secondaryBorder rounded-full p-1"></i>
                                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                            </button> 
                        </div>
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of accountingEntriesDetailsData; let i = index"
                    [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    
                    <!-- If the row is being edited, show inputs -->
                    <ng-container *ngIf="editingRowId === row.id; else normalRow" class="no-print">
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td> 
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <input id="debitAmount" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            (input)="validateNumberEditedRowData($event, 'debitAmount')" [(ngModel)]="editedRowData.debitAmount" 
                            (ngModelChange)="onInputValueChangeForDetails({ field: 'debitAmount', value: $event })"/>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <input id="creditAmount" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            (input)="validateNumberEditedRowData($event, 'creditAmount')" [(ngModel)]="editedRowData.creditAmount" 
                            (ngModelChange)="onInputValueChangeForDetails({ field: 'creditAmount', value: $event })"/>
                        </td> 
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <select (change)="GetSubAccountData($event)"
                            (ngModelChange)="onInputValueChangeForDetails({ field: 'accountingTreeChartID', value: $event })"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="accountingTreeChartID" [(ngModel)]="editedRowData.accountingTreeChartID">
                                <option [value]="0" disabled selected hidden>Choose Account</option>
                                <option *ngFor="let acc of AccountingTreeChartData" [value]="acc.id">{{ acc.name }}</option>
                                <option *ngIf="AccountingTreeChartData.length === 0" disabled selected>No Data Found</option>
                            </select>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <select [disabled]="this.editedRowData.accountingTreeChartID == 0"
                            (ngModelChange)="onInputValueChangeForDetails({ field: 'subAccountingID', value: $event })"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="subAccountingID" [(ngModel)]="editedRowData.subAccountingID">
                                <option [value]="null" disabled selected hidden>Choose Sub Account Data</option>
                                <option *ngFor="let sub of subAccountData" [value]="sub.id">{{ sub.en_name }} {{ sub.name }}</option>
                                <option *ngIf="subAccountData.length === 0" disabled selected>No Data Found</option>
                            </select>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <textarea class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3" [(ngModel)]="editedRowData.note"></textarea>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <div class="flex space-x-4">
                                <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                                (click)="DeleteDetail(row.id)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                                <button [disabled]="!isDetailsValid || isLoading" [ngClass]="{'cursor-not-allowed opacity-50' : !isDetailsValid}">
                                    <i (click)="SaveEditedDetail()" *ngIf="!isLoading" class="fa-solid fa-check secondaryTxt secondaryBorder rounded-full p-1"></i>
                                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                                </button> 
                            </div>
                        </td>
                    </ng-container>

                    <!-- Normal row display -->
                    <ng-template #normalRow>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.debitAmount }}</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.creditAmount }}</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.accountingTreeChartName }}</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.subAccountingName }}</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.note }}</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <div class="flex space-x-4" *ngIf="!isView">
                                <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                                    (click)="DeleteDetail(row.id)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                                <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="EditDetail(row)">
                                    <i class="fa-solid fa-pencil"></i>
                                </button> 
                            </div>
                        </td>
                    </ng-template> 
                </tr>
            </tbody>
        </table>
    </div>      
</div>


<div class="absolute -top-[9999px] -left-[9999px]">
    <div id="Data" class="hidden">
        <app-pdf-print *ngIf="showPDF" [school]="{ 
                reportHeaderOneEn: 'Accounting Entries Report',
                reportHeaderTwoEn: 'Detailed accounting entries information',
                reportHeaderOneAr: 'تقرير القيود المحاسبية',
                reportHeaderTwoAr: 'معلومات تفصيلية عن القيود المحاسبية'
            }" [fileName]="'Accounting_Entries_Report'" [infoRows]="[
                { keyEn: 'Document Type: ' + accountingEntries.accountingEntriesDocTypeName },
                { keyEn: 'Document Number: ' + accountingEntries.docNumber },
                { keyEn: 'Date: ' + accountingEntries.date },
                { keyEn: 'Total Credit: ' + totalCredit },
                { keyEn: 'Total Debit: ' + totalDebit },
                { keyEn: 'Difference: ' + theDifference }
            ]"
            [tableHeaders]="['id', 'debitAmount', 'creditAmount', 'accountingTreeChartName', 'subAccountingName', 'note']"
            [tableData]="accountingEntriesDetailsData" #pdfComponentRef>
        </app-pdf-print>
    </div>
</div>