<div class="">
  <div class="flex justify-between">
    <h1 class="font-semibold text-2xl leading-9">Classrooms Accommodation</h1>
  </div>
</div>

<div class="flex justify-between">

  <div class="w-[29%]">
    <div>
      <label for="Schools" class="block mb-2 text-sm font-medium text-gray-900 w-full">Schools</label>
      <select id="Schools" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  p-2.5">
        <option value="" disabled selected hidden>Select a School</option>
        <option *ngFor="let s of Schools" [value]="s.id">
          {{ s.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="w-[29%]">
    <div>
      <label for="Years" class="block mb-2 text-sm font-medium text-gray-900">Years</label>
      <select id="Years"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  p-2.5">
        <option value="" disabled selected hidden>Select a Year</option>
        <option *ngFor="let s of Years" [value]="s.id">
          {{ s.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="w-[29%]">
    <div>
      <label for="Grades" class="block mb-2 text-sm font-medium text-gray-900">Grades</label>
      <select id="Grades" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block  p-2.5">
        <option value="" disabled selected hidden>Select a Grade</option>
        <option *ngFor="let s of Grades" [value]="s.id">
          {{ s.name }}
        </option>
      </select>
    </div> 
  </div>

</div>

<div
  class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full"
>
  <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
    <thead
      class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0"
    >
      <tr>
        <th
          class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
        >
          Id
        </th>
        <th
          class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
        >
          Student Name
        </th>
        <th
          class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
        >
          Grade
        </th>
        <th
          class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
        >
          Admission Status
        </th>
        <th
          class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
        >
          رسوم حجز المقعد
        </th>
        <th
          class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
        >
          الرسوم الدراسية
        </th>
        <th
          class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- No Data Row -->
      <tr *ngIf="Data.length === 0">
        <td
          colspan="17"
          class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm"
        >
          No Data Found
        </td>
      </tr>

      <!-- Data Rows -->
      <tr
        *ngFor="let row of Data; let i = index"
        [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
        class="border-t border-gray-300 text-xs md:text-sm"
      >
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
          {{ row.id }}
        </td>
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
          {{ row.studentName }}
        </td>
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
          {{ row.gradeName }}
        </td>
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
          {{ row.registerationFormStateName }}
        </td>
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
          done
        </td>
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
          done
        </td>
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
          <div class="flex space-x-4">
            <button (click)="Create(row.id)">
              <img src="Images/classroom.png" class="w-5" alt="Upload Icon" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="{ hidden: !isModalVisible }"
  class="fixed top-0 left-0 right-0 z-50 flex justify-center items-center w-full h-full bg-black/50"
>
  <div
    class="relative bg-white w-[669px] rounded-2xl p-12 gap-4 shadow-md overflow-y-auto max-h-[90vh]"
  >
    <!-- Close Icon -->
    <button
      (click)="closeModal()"
      class="absolute top-4 right-4 text-gray-400 hover:text-gray-900 transition duration-200"
    >
      <i class="fa-solid fa-xmark text-2xl"></i>
    </button>

    <h1 class="font-semibold text-2xl leading-9">Add Student To Classroom</h1>
    <div
      class="mt-4 bg-[#F7F7F7] w-[573px] rounded-[24px] p-[16px_24px] gap-[20px]"
    >
      <h6 class="font-medium text-base leading-6 mb-1 mt-3">Classroom</h6>
      <div class="flex justify-start gap-2 items-start">
        <div class="flex flex-col">
          <div class="flex flex-col mb-4">
            <select
              class="rounded-lg border border-solid border-gray-300 py-1 overflow-y-auto w-[500px] h-[45px] mb-3"
              id="subjectSelect"
              [(ngModel)]="ClassroomId"
            >
              <option [value]="0" disabled selected hidden>
                Choose Classroom
              </option>
              <option *ngFor="let row of classrooms" [value]="row.id">
                {{ row.name }}
              </option>
              <option *ngIf="classrooms.length === 0" disabled>
                No Data Found
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="flex justify-end">
        <button
          class="secondaryBg text-white font-medium px-5 py-2 rounded-lg mt-2"
          (click)="Save()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
