<!-- <div class="">
    <div class="flex justify-between">
      <h1 class="font-semibold text-2xl leading-9">Sales</h1>
      <div class="flex justify-between items-center">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
        <button (click)="Create()"
          class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
          Create
        </button>
      </div>
    </div>
  
    <div>
      <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
        <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
          <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
              <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                Store
              </th>
              <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                Invoice Number
              </th>
              <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                Date
              </th>
              <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                Total
              </th>
              <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                Notes
              </th>
              <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="TableData.length === 0">
              <td colspan="11"
                class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                No Data Found
              </td>
            </tr>
  
            <tr *ngFor="let row of TableData; let i = index"
              [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
              class="border-t border-gray-300 text-xs md:text-sm">
              <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                {{ row.storeName }}
              </td>
              <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                {{ row.invoiceNumber }}
              </td>
              <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                {{ row.date }}
              </td>
              <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                {{ row.total }}
              </td>
              <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                {{ row.notes }}
              </td>
              <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                <div class="flex space-x-4">
                  <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)" (click)="Delete(row.id)">
                    <i class="fa-regular fa-trash-can"></i>
                  </button>
                  <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="Edit(row)">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
<div class="mt-8 flex justify-between items-center">
    <div class="flex items-center space-x-4">
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4" (click)="changeCurrentPage(CurrentPage-1)"
        [disabled]="CurrentPage === 1 || TableData.length == 0"
        [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === 1 || TableData.length == 0}">
            <i class="fa-solid fa-arrow-left"></i>
            <p>Previous</p>
        </button>
        <div class="flex">
            <div *ngFor="let page of [].constructor(TotalPages); let i = index" class="rounded-lg py-[10px] w-[40px]" 
            [ngClass]="{'border': i+1 == CurrentPage || TableData.length == 0}" 
            (click)="changeCurrentPage(i+1)"> 
                <p class="text-center">{{ i + 1 }}</p>
            </div>
        </div>
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4" (click)="changeCurrentPage(CurrentPage+1)"
        [disabled]="CurrentPage === TotalPages || TableData.length == 0"
        [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === TotalPages || TableData.length == 0}">
            <p>Next</p> 
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>

    <div class="flex items-center space-x-2">
        <input  (input)="validateNumber($event)" class="rounded-lg border py-3 px-4 w-[73px]" [(ngModel)]="PageSize" min="1" (input)="validatePageSize($event)" (ngModelChange)="changeCurrentPage(CurrentPage)">
        <p>items Per Page</p>
    </div>

    <div>
        <p>{{CurrentPage}} of {{TotalPages}} pages ({{TotalRecords}} Item)</p>
    </div>
</div> -->