@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: "Poppins", sans-serif;
}

.primaryBg{
    background-color: #2E3646;
}

.primaryTxt{
    color: #2E3646;
}

.secondaryBg{
    background-color: #FF7519;
}

.secondaryTxt{
    color: #FF7519;
}

.secondaryBorder {
    border: 1px solid #FF7519;
}

.grayBorder {
    border: 1px solid #6F6F6F;
}

/* .Primary{
    background-color: var(--bg-color);
    color: var(--text-color);
} */

/*
    NOTE ==> How to write it i the TS
    document.documentElement.style.setProperty('--bg-color', backgroundColor);
    document.documentElement.style.setProperty('--text-color', textColor);
*/

html[dir='rtl'] {
    direction: rtl;
    text-align: right;
}

* [dir='rtl'] {
    direction: rtl;
    text-align: right;
}