<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left rtl:rotate-180" (click)="moveToHygieneForm()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Hygiene Form</h1>
    </div>
</div>

    <!-- School, Grade, and Class Information -->
    <div class="flex flex-wrap justify-between mt-5 mb-5">
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">School</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ hygieneForm?.school }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Grade</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ hygieneForm?.grade }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Class</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ hygieneForm?.classRoom }}</p>
        </div>
        <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Date</p>
            <p class="font-medium text-base text-[#1E1E1E]">
              {{ hygieneForm?.insertedAt | date: 'd, MMM y' }}
            </p>
        </div>
    </div>

    <!-- Table Section -->
    <app-hygiene-form-table [students]="students" [hygieneTypes]="hygieneTypes"
               [isViewOnly]="true" [showSelectAll]="false">
    </app-hygiene-form-table>
