<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
        <i class="fa-solid fa-chevron-left" (click)="moveToSubjects()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ subject.en_name }}</h1>
    </div>
    <button (click)="editModal()" *ngIf="AllowEdit && IsAllowEdit(subject.insertedByUserId)"
    class="bg-[#6F6F6F] text-white rounded-lg px-4 py-3 flex items-center justify-center gap-2">
        Edit
    </button>
</div>

<div class="flex flex-wrap justify-between mt-5">
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">English Name</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.en_name }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Arabic Name</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.ar_name }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Gradre</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.gradeName }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Order in Certificate </p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.orderInCertificate }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Credit Hours</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.creditHours }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Subject Code</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.subjectCode }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Pass By Degree</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.passByDegree }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Total Marks</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.totalMark }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Subject Category</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.subjectCategoryName }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Number of session per week</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ subject.numberOfSessionPerWeek }}</p>
    </div>
</div>
<div class="flex space-x-5 items-center w-[30%] mb-4">
    <i *ngIf="subject.hideFromGradeReport" class="secondaryTxt text-2xl fa-regular fa-square-check"></i>
    <i *ngIf="!subject.hideFromGradeReport" class="text-[#BDBDBD] text-2xl fa-regular fa-square"></i>
    <label class="text-sm">Hide From Grade Report</label>
</div>
<div class="bg-[#F6F6F6] rounded-md border-dashed border-2 w-[30%] px-6 py-3 lg:py-5">
    <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Subject Icon</p>
    <img *ngIf="subject.iconLink" [src]="subject.iconLink" class="object-cover w-1/2">
</div>


<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">Working Types</h1>
    <div class="flex justify-between items-center ">

        <button (click)="AddWeight()"
            class="secondaryBorder secondaryTxt rounded-lg px-4 py-3 flex items-center justify-center gap-2">
            Add Weight
        </button>
    </div>
</div>

<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    ID
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    Title
                </th>
                <!-- <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Actions
                </th> -->
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="WeightTypes.length === 0">
                <td colspan="6"
                    class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of WeightTypes; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.englishName }}</td>
                <!-- <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4">
                        <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                            (click)="delete(row.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
