<div class="p-6">
    <h2 class="text-2xl font-semibold mb-6 text-gray-800">Domain List</h2>

    <button class="mt-2 ml-2 secondaryBg text-white p-2 rounded" (click)="OpenADD()">
        Add Domain
    </button>

    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden border border-gray-300 mt-4">
        <thead class="bg-gray-200">
            <tr>
                <th class="py-3 px-4 border-b text-left text-gray-700">ID</th>
                <th class="py-3 px-4 border-b text-left text-gray-700">Name</th>
                <th class="py-3 px-4 border-b text-left text-gray-700">Username</th>
                <th class="py-3 px-4 border-b text-left text-gray-700">password</th>
                <th class="py-2 px-4 border-b text-left text-gray-700">Schools</th>
                <th class="py-3 px-4 border-b text-left text-gray-700">Actions</th>
            </tr>
        </thead>
        <tbody class="text-gray-600">
            <tr *ngFor="let domain of domains" class="hover:bg-gray-100 transition duration-150">
                <td class="py-3 px-4 border-b">{{ domain.id }}</td>
                <td class="py-3 px-4 border-b">{{ domain.name }}</td>
                <td class="py-3 px-4 border-b">{{ domain.user_Name }}</td>
                <td class="py-3 px-4 border-b">{{ domain.password }}</td>

                <td class="py-2 px-4 border-b">
                    <ul class="list-disc pl-5">
                        <li *ngFor="let school of domain.schools || []">{{ school.name }}</li>
                    </ul>
                </td>
                <td class="py-3 px-4 border-b flex space-x-2">
                    <button class="mt-2 ml-2 secondaryBg text-white p-2 rounded" (click)="OpenUpdate(domain)">Edit</button>
                    <button class="mt-2 ml-2 secondaryBg text-white p-2 rounded" (click)="deleteDomain(domain.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="isDisplayAddDomain" class="p-6 bg-white shadow-md rounded-lg mt-4">
    <h3 class="text-xl font-semibold mb-4 text-gray-800">Add Domain</h3>
    
    <label for="user_name" class="block text-gray-700">Name:</label>
    <input class="w-full h-[56px] rounded-[8px] border px-2 mt-1 mb-4" id="user_name" type="text" 
           [(ngModel)]="DomainAdd.name" />

    <label for="user_username" class="block text-gray-700">Username:</label>
    <input class="w-full h-[56px] rounded-[8px] border px-2 mt-1 mb-4" id="user_username" type="text" 
           [(ngModel)]="DomainAdd.user_Name" />

    <label for="user_password" class="block text-gray-700">Password:</label>
    <input class="w-full h-[56px] rounded-[8px] border px-2 mt-1 mb-4" id="user_password" type="password" 
           [(ngModel)]="DomainAdd.password" />          

    <button class="mt-2 secondaryBg text-white p-2 rounded" (click)="CloseAdd()">Cancel</button>       

    <button class="mt-2 ml-2 secondaryBg text-white p-2 rounded" (click)="Save()">Save</button>       
</div>


<div *ngIf="isDisplayEditDomain" class="p-6 bg-white shadow-md rounded-lg mt-4">
    <h3 class="text-xl font-semibold mb-4 text-gray-800">Add Domain</h3>
    
    <label for="user_name" class="block text-gray-700">Name:</label>
    <input class="w-full h-[56px] rounded-[8px] border px-2 mt-1 mb-4" id="user_name" type="text" 
           [(ngModel)]="DomainEdit.name" />

    <label for="user_username" class="block text-gray-700">Username:</label>
    <input class="w-full h-[56px] rounded-[8px] border px-2 mt-1 mb-4" id="user_username" type="text" 
           [(ngModel)]="DomainEdit.user_Name" />

    <label for="user_password" class="block text-gray-700">Password:</label>
    <input class="w-full h-[56px] rounded-[8px] border px-2 mt-1 mb-4" id="user_password" type="password" 
           [(ngModel)]="DomainEdit.password" />          

    <button class="mt-2 secondaryBg text-white p-2 rounded" (click)="CloseEdit()">Cancel</button>       

    <button class="mt-2 ml-2 secondaryBg text-white p-2 rounded" (click)="update()">Save</button>       
</div>