<!-- <diV class="primaryBg text-white h-full px-3 lg:px-5 py-9 lg:py-12 flex flex-col justify-between text-sm lg:text-xl">
    <section>
        <div>
            <p class="uppercase p-3 lg:p-4 text-sm lg:text-lg font-semibold">Main Menu</p>
        </div>
        <div class="text-xl">
            <details *ngFor="let item of menuItems; let i = index">
                <summary [routerLink]="item.route" class="p-3 lg:p-4 flex items-center space-x-3 rtl:space-x-reverse hover:bg-[rgba(255,255,255,0.1)] ltr:hover:rounded-r-lg rtl:hover:rounded-l-lg ltr:hover:border-l-4 rtl:hover:border-r-4 cursor-pointer">
                    <img class="w-3 lg:w-fit" *ngIf="item.subItems" src="Icons/Drop-Down.png">
                    <img class="w-3 lg:w-fit" *ngIf="item.route" src="Icons/Dashboard.png">
                    <p>{{ item.label }}</p>
                </summary>
                <div *ngIf="item.subItems"  class="pl-8 py-4 flex flex-col space-y-3">
                    <a *ngFor="let subItem of item.subItems; let i = index" class="cursor-pointer hover:opacity-30" [routerLink]="subItem.route">{{ subItem.label }}</a>
                </div>
            </details>
        </div>
    </section>
    <div>
        <a class="secondaryTxt hover:opacity-65 flex items-center space-x-3 p-4 rtl:space-x-reverse cursor-pointer" (click)="SignOut()">
            <img class="w-3 lg:w-fit" src="Icons/Sign-out-orange.png">
            <p>Sign Out</p>
        </a>
    </div>
</diV> -->

<div *ngIf="!IsMenuOpen" class="primaryBg rounded-lg text-white h-full min-h-[100vh] py-10 px-3 flex flex-col items-center text-sm lg:text-xl">
    <img class="w-3 lg:w-fit" src="Images/logo-orange 1 1.png" (click)="toggleMenu()">
</div>

<div *ngIf="IsMenuOpen" class="primaryBg rounded-lg text-white h-full min-h-[100vh] py-10 px-3 flex flex-col items-center text-sm lg:text-xl">
    <div class="px-7 text-base text-[#919191] flex space-x-4 rtl:space-x-reverse items-center" (click)="toggleMenu()">
        <i class="fa-solid fa-angle-left"></i>
        <p>Lookscout Dashboard</p>
    </div>

    <div class="px-7 mt-6 relative flex items-center">
        <span class="absolute text-[#FFFFFF0D] ltr:ml-2 rtl:mr-2">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input type="text" class="bg-[#FFFFFF0D] ltr:pl-10 rtl:pr-10 ltr:pr-3 rtl:pl-3 py-2 text-sm rounded-md"
            placeholder="Search here..." />
    </div>
</div>