<div class="rounded-lg  py-3 px-6 primaryBg">
    <div class="flex items-center justify-between space-x-7">
        <div>
            <img src="Images/Logo.png">
        </div>
        <div>
            <input type="text" class="w-[543px] h-[53px] rounded-[8px] border border-gray-300 px-4 py-3 gap-2"
                placeholder="Enter Keyword" />
        </div>
        <div class="relative">
            <i class="fa-solid fa-bell text-[#FF7519] text-2xl"></i>
            <span
                class="absolute -top-2 -right-2 bg-black border-2 border-white text-white rounded-full text-[10px] px-1 py-0.25">5</span>
        </div>
        <div class="flex items-center justify-between space-x-3 rtl:space-x-reverse">
            <div>
                <i class="fa-solid fa-globe text-white text-2xl"></i>
            </div>
            <div class="relative">
                <button class="flex items-center space-x-2 rtl:space-x-reverse font-semibold text-white" (click)="toggleDropdown()">
                    <p>{{ selectedLanguage }}</p>
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div *ngIf="dropdownOpen" class="absolute mt-2 w-32 bg-white text-gray-700 rounded-md shadow-lg">
                    <a class="block px-4 py-2 hover:bg-gray-200" (click)="selectLanguage('en')">English</a>
                    <a class="block px-4 py-2 hover:bg-gray-200" (click)="selectLanguage('ar')">العربية</a>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between space-x-3">
            <div class="relative">
                <img src="Images/Avatar.png" (click)="togglePopup()" class="cursor-pointer" alt="Profile Photo">
                <div *ngIf="isPopupOpen" class="absolute left-0 mt-2 w-60 max-w-xs bg-white rounded-lg shadow-lg p-4">
                  <h3 class="font-semibold text-gray-700">Account Options</h3>
                  <ul class="mt-2 space-y-2">
                    <li *ngFor="let token of allTokens">
                      <button (click)="ChangeAccount(token.id)" class="w-full text-left hover:bg-gray-100 p-2 rounded-md">
                        {{ token.key }}
                      </button>
                    </li>
                  </ul>
                <button (click)="gotologin()" class="w-full text-left hover:bg-gray-100 p-2 rounded-md">Add New Account</button>
                </div>
              </div>
              
            <div class=" font-semibold text-white flex flex-col space-y-2">
                <div class="text-xl">
                    {{userName}}
                </div>
                <div class="text-sm">
                    SchoolX</div>
            </div>
        </div>
    </div>
</div>