<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
        <i class="fa-solid fa-chevron-left" (click)="moveToSection()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Sections & Grade Levels</h1>
    </div>
</div>

<div class="flex flex-wrap space-x-7 mt-5">
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Section Name</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ section.name }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">School Name</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ section.schoolName }}</p>
    </div>
</div>

<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">Grade Levels</h1>
    <div class="flex justify-between items-center ">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
        
        <button (click)="openModal()"
        class="secondaryBorder secondaryTxt rounded-lg px-4 py-3 flex items-center justify-center gap-2">
            Add Grade
        </button>
    </div>
</div>

<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    ID
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    Grade Name
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    From Date
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    To Date
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="gradeData.length === 0">
                <td colspan="5" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of gradeData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.name }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.dateFrom }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.dateTo }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4">
                        <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                            (click)="deleteGrade(row.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                        <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="openModal(row.id)">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Add-Edit Grade Modal -->
<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px]">
        <div class="flex justify-between items-center">
            <h1 *ngIf="!editGrade" class="font-semibold text-2xl leading-9">Create Grade</h1>
            <h1 *ngIf="editGrade" class="font-semibold text-2xl leading-9">Edit Grade</h1>
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>
        
        <div class="p-[16px_24px] mt-6 mb-4 bg-[#F7F7F7] rounded-3xl">
            <div class="flex flex-col mb-4">
                <label class="mb-2 primaryTxt" for="name">Grade Name</label>
                <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter Grade Name"
                [(ngModel)]="grade.name" 
                (ngModelChange)="onInputValueChange({ field: 'name', value: $event })"/>
                <span *ngIf="validationErrors['name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['name'] }}</span>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 primaryTxt" for="dateFrom">From Birthdate</label>
                <input id="dateFrom" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter From Birthdate"
                [(ngModel)]="grade.dateFrom" 
                (ngModelChange)="onInputValueChange({ field: 'dateFrom', value: $event })"/>
                <span *ngIf="validationErrors['dateFrom']" class="text-red-500 ml-3 font-normal">{{ validationErrors['dateFrom'] }}</span>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 primaryTxt" for="dateTo">To Birthdate</label>
                <input id="dateTo" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter To Birthdate"
                [(ngModel)]="grade.dateTo" 
                (ngModelChange)="onInputValueChange({ field: 'dateTo', value: $event })"/>
                <span *ngIf="validationErrors['dateTo']" class="text-red-500 ml-3 font-normal">{{ validationErrors['dateTo'] }}</span>
            </div>
        </div>

        <div class="flex justify-end">
            <button class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="SaveGrade()">
                Save
            </button>
        </div>
    </div>
</div>
