<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">Hygiene Forms</h1>
    <div class="flex justify-between items-center">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
        <button (click)="navigateToCreateHygieneForm()"
            class="font-medium rounded-lg px-4 py-2 flex items-center justify-center gap-2 secondaryBorder secondaryTxt">
            Create Hygiene Form
        </button>
    </div>
</div>

<!-- Reusable Table Component -->
    <app-table [headers]="['ID', 'Grade', 'Classes', 'Date', 'Actions']" [data]="hygieneForms"
        [keys]="['id', 'grade', 'classRoom', 'date']"
            [showViewAction]="true"
 (delete)="deleteHygieneForm($event)" (edit)="openModal($event.id)" (view)="onView($event)">
    </app-table>