<div class="flex justify-between items-center">
    <!-- <h1 class="font-semibold text-2xl leading-9">
        {{ mode == 'Create' ? 'Create Employee' : 'Edit Employee' }}
    </h1> -->
    <div class="flex justify-between items-center space-x-5">
        <i class="fa-solid fa-chevron-left" (click)="moveToEmployee()"></i>
        <h1 class="font-semibold text-2xl leading-9">
            {{ mode == 'Create' ? 'Create Employee' : 'Edit Employee' }}
        </h1>
    </div>
    <button class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="Save()">
        Save
    </button>
</div>

<div class="mt-6 mb-4 rounded-3xl flex justify-between flex-wrap">
    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">User Name</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            placeholder="Enter User Name" [(ngModel)]="Data.user_Name" 
            (ngModelChange)="onInputValueChange({ field: 'user_Name', value: $event })"/>
        <span *ngIf="validationErrors['user_Name']" class="text-red-500 ml-3 font-normal">{{ validationErrors["user_Name"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">English Name</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'en_name', value: $event })"
            placeholder="Enter English Name" [(ngModel)]="Data.en_name" />
        <span *ngIf="validationErrors['en_name']" class="text-red-500 ml-3 font-normal">{{ validationErrors["en_name"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">Arabic Name</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            placeholder="Enter Arabic Name" [(ngModel)]="Data.ar_name" />
    </div>

    <div *ngIf="mode == 'Create'" class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">Password</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'password', value: $event })"
            placeholder="Enter Password" [(ngModel)]="Data.password" />
        <span *ngIf="validationErrors['password']" class="text-red-500 ml-3 font-normal">{{ validationErrors["password"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">Mobile</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'mobile', value: $event })"
            (input)="validateNumber($event, 'mobile')" 
            placeholder="Enter Mobile" [(ngModel)]="Data.mobile" />
        <span *ngIf="validationErrors['mobile']" class="text-red-500 ml-3 font-normal">{{ validationErrors["mobile"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">Phone</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'phone', value: $event })"
            (input)="validateNumber($event, 'phone')" 
            placeholder="Enter Phone" [(ngModel)]="Data.phone" />
        <span *ngIf="validationErrors['phone']" class="text-red-500 ml-3 font-normal">{{ validationErrors["phone"]}}</span>
    </div>


    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">Email</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'email', value: $event })"
            placeholder="Enter Email" [(ngModel)]="Data.email" />
        <span *ngIf="validationErrors['email']" class="text-red-500 ml-3 font-normal">{{ validationErrors["email"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">Address</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            placeholder="Enter Address" [(ngModel)]="Data.address" />
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2" for="role">Role</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="role"
            (ngModelChange)="onInputValueChange({ field: 'role_ID', value: $event })"
            [(ngModel)]="Data.role_ID">
            <option [value]="0" disabled selected hidden>Choose Role</option>
            <option *ngFor="let role of Roles" [value]="role.id">{{ role.name }}</option>
            <option *ngIf="Roles.length === 0" disabled selected>No Data Found</option>
        </select>
        <span *ngIf="validationErrors['role_ID']" class="text-red-500 ml-3 font-normal">{{ validationErrors["role_ID"]}}</span>
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2" for="employeeType">Employee Type</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="employeeType"
            (ngModelChange)="onInputValueChange({ field: 'employeeTypeID', value: $event })"
            [(ngModel)]="Data.employeeTypeID">
            <option [value]="0" disabled selected hidden>Choose Employee Type</option>
            <option *ngFor="let employeeType of empTypes" [value]="employeeType.id">{{ employeeType.name }}</option>
            <option *ngIf="empTypes.length === 0" disabled selected>No Data Found</option>
        </select>
        <span *ngIf="validationErrors['employeeTypeID']" class="text-red-500 ml-3 font-normal">{{ validationErrors["employeeTypeID"]}}</span>
    </div>

    <div *ngIf="Data.employeeTypeID == 2" class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">License Number</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'licenseNumber', value: $event })" 
            (input)="validateNumber($event, 'licenseNumber')" 
            placeholder="Enter License Number" [(ngModel)]="Data.licenseNumber" />
        <span *ngIf="validationErrors['licenseNumber']" class="text-red-500 ml-3 font-normal">{{ validationErrors["licenseNumber"]}}</span>
    </div>

    <div *ngIf="Data.employeeTypeID == 2" class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="expireDate">Expire Date</label>
        <input id="expireDate" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'expireDate', value: $event })"
            placeholder="Enter Expiry Date" [(ngModel)]="Data.expireDate" />
        <span *ngIf="validationErrors['expireDate']" class="text-red-500 ml-3 font-normal">{{ validationErrors["expireDate"]}}</span>
    </div> 

    <div *ngIf="Data.employeeTypeID == 2" class="flex flex-col w-[49%] mb-4">
        <label class="mb-2" for="bus">Bus Comapny</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="bus"
            [(ngModel)]="Data.busCompanyID">
            <option [value]="0" disabled selected hidden>Choose Bus Company</option>
            <option *ngFor="let bus of BusCompany" [value]="bus.id">{{ bus.name }}</option>
            <option *ngIf="BusCompany.length === 0" disabled selected>No Data Found</option>
        </select>
    </div>
 
    <div class="bg-[#F6F6F6] flex items-center space-x-4 w-full rounded-md border-dashed mb-4 border-2">
        <div class="flex justify-center w-full">
            <label for="file-upload" class="cursor-pointer flex flex-col items-center rounded-xl px-6 py-3 lg:py-5">
                <img src="Images/Icon frame.png" class="w-1/4" alt="Upload Icon">
                <p class="font-normal text-xs md:text-sm text-[#8E8E93] mt-3">
                    <span class="secondaryTxt">Click to Upload</span> or drag and drop files
                </p>
                <p class="font-normal text-xs md:text-sm text-[#8E8E93]"> (Max. File size: 25 MB each)</p>
            </label>
            <input id="file-upload" type="file" class="hidden" accept="image/jpeg, image/png" multiple
                (change)="onFilesSelected($event)" />
        </div>
    </div>
</div>

<div *ngIf="Data.files.length > 0" class="bg-white p-4 rounded-lg">
    <div class="flex flex-wrap gap-4">
        <div *ngFor="let file of Data.files; let i = index" class="flex w-full items-center gap-4 mb-4">
            <div class="flex flex-col w-[34%]">
                <h1 class="text-sm font-semibold mb-2">Name</h1>
                <p class="text-sm font-medium text-gray-700 mb-4">{{ file.name }}</p>
                <div class="border border-cacaca rounded-lg p-6">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-2">
                            <i class="fa-solid fa-file"></i>
                            <p class="text-sm font-medium text-gray-700 truncate max-w-[150px]">{{ file.name }}</p>
                        </div>
                        <button (click)="deleteFile(i)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                    <p class="text-sm font-medium text-gray-700 mb-4">{{ file.size }} bytes</p>
                    <p class="secondaryTxt cursor-pointer hover:underline mt-2" (click)="downloadFile(file)">
                        Click to View
                    </p>
                </div>
            </div>

            <div class="w-[64%]">
                <div class="flex flex-col">
                    <label class="mb-2 primaryTxt" for="name-{{ i }}">Add Name</label>
                    <input id="name-{{ i }}" type="text" [value]="file.name"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                        placeholder="Enter Attachment Name" (change)="changeFileName(i, $event)" />
                </div>
            </div>
        </div>
    </div>
</div>