<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">Classrooms</h1>
    <div class="flex justify-between items-center space-x-4">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>

        <button (click)="openCopyModal()"
            class="grayBorder border text-[#6F6F6F] rounded-lg px-4 py-3 flex items-center justify-center gap-2">
            Copy From
        </button>

        <button (click)="openModal()"
            class="secondaryBorder secondaryTxt rounded-lg px-4 py-3 flex items-center justify-center gap-2">
            Create Classroom
        </button>
    </div>
</div>


<div class="flex justify-start items-center space-x-4 mt-5">
    <div class="w-[49%]">
        <label for="School1" class="block mb-2 text-sm font-medium text-gray-900">School</label>
        <select id="School1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="SelectedSchoolIdForFilteration" (change)="getAllYearsForFilteration()">
            <option value=0 disabled selected hidden>Select a School</option>
            <option *ngFor="let school of SchoolsForFilteration" [value]="school.id">
                {{ school.name }}
            </option>
        </select>
    </div>
    <div class="w-[49%]">
        <label for="Year" class="block mb-2 text-sm font-medium" [ngClass]="{'text-gray-500': !SelectedSchoolIdForFilteration, 'text-gray-900' : SelectedSchoolIdForFilteration}" >Year</label>
        <select id="Year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="activeAcademicYearID" (change)="getClassroomDataByYearID()" [disabled]="!SelectedSchoolIdForFilteration">
            <option value=0 disabled selected hidden>Select a Year</option>
            <option *ngFor="let ac of AcademicYearsForFilteration" [value]="ac.id">
                {{ ac.name }}
            </option>
        </select>
    </div>
</div>

<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    ID
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    Name
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Number
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    Grade
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Floor
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Academic Year
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="classroomData.length === 0">
                <td colspan="7"
                    class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of classroomData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.name }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.number }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.gradeName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.floorName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.academicYearName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4">
                        <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                            (click)="deleteClassroom(row.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                        <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="openModal(row.id)">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Add-Edit Classroom Modal -->
<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-1/2 max-h-[95%] overflow-y-auto">
        <div class="flex justify-between items-center">
            <h1 *ngIf="!editClassroom" class="font-semibold text-2xl leading-9">Create Classroom</h1>
            <h1 *ngIf="editClassroom" class="font-semibold text-2xl leading-9">Edit Classroom</h1>
            <button (click)="closeModal()" type="button"
                class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 rounded-3xl flex justify-between flex-wrap">
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="name">Classroom Name</label>
                <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    placeholder="Enter Classroom Name" [(ngModel)]="classroom.name"
                    (ngModelChange)="onInputValueChange({ field: 'name', value: $event })" />
                <span *ngIf="validationErrors['name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['name']
                    }}</span>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="number">Classroom Number</label>
                <input id="number" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    placeholder="Enter Classroom Number" [(ngModel)]="classroom.number"
                    (ngModelChange)="onInputValueChange({ field: 'number', value: $event })"
                    (input)="validateNumber($event, 'number')" />
                <span *ngIf="validationErrors['number']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['number'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="school"
                    [ngClass]="{ 'text-gray-400': editClassroom, 'primaryTxt': !editClassroom}">Choose School</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="school"
                    [(ngModel)]="selectedSchool" (change)="onSchoolChange($event)" [disabled]="editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': editClassroom}">
                    <option [value]="null" disabled selected hidden>Choose School</option>
                    <option *ngFor="let school of Schools" [value]="school.id">{{ school.name }}</option>
                    <option *ngIf="Schools.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="ac"
                    [ngClass]="{ 'text-gray-400': !selectedSchool || editClassroom, 'primaryTxt': selectedSchool && !editClassroom }">Choose
                    Academic Year</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="ac"
                    [(ngModel)]="classroom.academicYearID" [disabled]="!selectedSchool || editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool || editClassroom }"
                    (ngModelChange)="onInputValueChange({ field: 'academicYearID', value: $event })">
                    <option [value]="0" disabled selected hidden>Choose Academic Year</option>
                    <option *ngFor="let academicYear of AcademicYears" [value]="academicYear.id">{{ academicYear.name }}
                    </option>
                    <option *ngIf="AcademicYears.length === 0" disabled selected>No Data Found</option>
                </select>
                <span *ngIf="validationErrors['academicYearID']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['academicYearID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="section"
                    [ngClass]="{ 'text-gray-400': !selectedSchool || editClassroom, 'primaryTxt': selectedSchool && !editClassroom }">Choose
                    Section</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="section"
                    [(ngModel)]="selectedSection" (change)="onSectionChange($event)"
                    [disabled]="!selectedSchool || editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool || editClassroom }">
                    <option [value]="null" disabled selected hidden>Choose Section</option>
                    <option *ngFor="let section of Sections" [value]="section.id">{{ section.name }}</option>
                    <option *ngIf="Sections.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="grade"
                    [ngClass]="{ 'text-gray-400': !selectedSection || editClassroom, 'primaryTxt': selectedSection && !editClassroom }">Choose
                    Grade</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="grade"
                    [(ngModel)]="classroom.gradeID" [disabled]="!selectedSection || editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSection || editClassroom }"
                    (ngModelChange)="onInputValueChange({ field: 'gradeID', value: $event })">
                    <option [value]="0" disabled selected hidden>Choose Grade</option>
                    <option *ngFor="let grade of Grades" [value]="grade.id">{{ grade.name }}</option>
                    <option *ngIf="Grades.length === 0" disabled selected>No Data Found</option>
                </select>
                <span *ngIf="validationErrors['gradeID']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['gradeID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="building"
                    [ngClass]="{ 'text-gray-400': !selectedSchool || editClassroom, 'primaryTxt': selectedSchool && !editClassroom }">Choose
                    Building</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="building"
                    [(ngModel)]="selectedBuilding" (change)="onBuildingChange($event)"
                    [disabled]="!selectedSchool || editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool || editClassroom }">
                    <option [value]="null" disabled selected hidden>Choose Building</option>
                    <option *ngFor="let building of Buildings" [value]="building.id">{{ building.name }}</option>
                    <option *ngIf="Buildings.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="Floor"
                    [ngClass]="{ 'text-gray-400': !selectedBuilding || editClassroom, 'primaryTxt': selectedBuilding && !editClassroom }">Choose
                    Floor</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Floor"
                    [(ngModel)]="classroom.floorID" [disabled]="!selectedBuilding || editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedBuilding || editClassroom }"
                    (ngModelChange)="onInputValueChange({ field: 'floorID', value: $event })">
                    <option [value]="0" disabled selected hidden>Choose Floor</option>
                    <option *ngFor="let floor of Floors" [value]="floor.id">{{ floor.name }}</option>
                    <option *ngIf="Floors.length === 0" disabled selected>No Data Found</option>
                </select>
                <span *ngIf="validationErrors['floorID']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['floorID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="Employees">Homeroom Teacher</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Employees"
                    [(ngModel)]="classroom.homeroomTeacherID">
                    <option [value]=0 disabled selected hidden>Choose Teacher</option>
                    <option *ngFor="let emp of Employees" [value]="emp.id">{{ emp.user_Name }}</option>
                    <option *ngIf="Employees.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
        </div>
        <div class="flex justify-end">
            <button [disabled]="isLoadingSaveClassroom" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                (click)="SaveClassroom()">
                <span *ngIf="!isLoadingSaveClassroom">Save</span>
                <i *ngIf="isLoadingSaveClassroom" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>


<!-- Copy Modal -->
<div id="Copy_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] max-h-[95%] overflow-y-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">Copy From</h1>
            <button (click)="closeCopyModal()" type="button"
                class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 rounded-3xl p-[16px_24px] bg-[#F7F7F7] ">
            <div class="flex flex-col mb-4">
                <label class="mb-2" for="school"
                    [ngClass]="{ 'text-gray-400': editClassroom, 'primaryTxt': !editClassroom}">Choose School</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="school"
                    [(ngModel)]="selectedSchool" (change)="onSchoolChange($event)" [disabled]="editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': editClassroom}">
                    <option [value]="null" disabled selected hidden>Choose School</option>
                    <option *ngFor="let school of Schools" [value]="school.id">{{ school.name }}</option>
                    <option *ngIf="Schools.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2" for="ac"
                    [ngClass]="{ 'text-gray-400': !selectedSchool, 'primaryTxt': selectedSchool }">From Academic
                    Year</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="ac"
                    [(ngModel)]="copyClassroom.fromAcademicYearID" [disabled]="!selectedSchool"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool }">
                    <option [value]="null" disabled selected hidden>Choose Academic Year</option>
                    <option *ngFor="let academicYear of AcademicYears" [value]="academicYear.id">{{ academicYear.name }}
                    </option>
                    <option *ngIf="AcademicYears.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2" for="ac"
                    [ngClass]="{ 'text-gray-400': !selectedSchool, 'primaryTxt': selectedSchool }">To Academic
                    Year</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="ac"
                    [(ngModel)]="copyClassroom.toAcademicYearID" [disabled]="!selectedSchool"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool }">
                    <option [value]="null" disabled selected hidden>Choose Academic Year</option>
                    <option *ngFor="let academicYear of AcademicYears" [value]="academicYear.id">{{ academicYear.name }}
                    </option>
                    <option *ngIf="AcademicYears.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>
        </div>

        <div class="flex justify-end">
            <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                (click)="SaveCopy()">
                <span *ngIf="!isLoading">Save</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>