<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">Registration Confirmation</h1>
    <div class="flex justify-between items-center space-x-4">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
    </div>
</div>

<div class="flex justify-between mt-5 items-end">
    <div>
        <label for="school" class="primaryTxt block mb-2 text-base font-medium text-[#2E3646]">School</label>
        <select id="school" [(ngModel)]="selectedSchool"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5 w-72">
            <option value="0" disabled selected hidden>Select School</option>
            <option *ngFor="let school of SchoolData" [value]="school.id">
                {{ school.name }}
            </option>
        </select>
    </div>
    <div>
        <label for="academicYear" class="primaryTxt block mb-2 text-base font-medium text-[#2E3646]">Year</label>
        <select id="academicYear" [(ngModel)]="selectedYear"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5 w-72">
            <option value="0" disabled selected hidden>Select Year</option>
            <option *ngFor="let academicYear of AcademicYearData" [value]="academicYear.id">
                {{ academicYear.name }}
            </option>
        </select>
    </div>
    <div>
        <label for="state" class="primaryTxt block mb-2 text-base font-medium text-[#2E3646]">State</label>
        <select id="state" [(ngModel)]="selectedState"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5 w-72">
            <option value="0" disabled selected hidden>Select State</option>
            <option *ngFor="let state of StateData" [value]="state.id">
                {{ state.name }}
            </option>
        </select>
    </div>

    <div class="flex space-x-4 items-center">
        <button class="secondaryBg text-white font-medium px-4 py-3 rounded-lg text-xl" (click)="Search()">
            Search
        </button>
        <div class="rounded-full p-2 border-4" (click)="ResetFilter()">
            <i class="fa-solid fa-rotate-left secondaryTxt text-2xl w-8 h-8 text-center hover:cursor-pointer rounded-full"></i>
        </div>
    </div>
</div>

<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    ID
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    Student Name
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Phone
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Grade
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Year
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Email
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Registration State
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Admission Test Fees
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Seat reservation fee
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Tuition fees
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="registerationFormParentData.length === 0">
                <td colspan="11" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    No Data Found
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of registerationFormParentData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.studentName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.phone }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.gradeName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.academicYearName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.email }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex justify-start">
                        <div *ngIf="row.registerationFormStateID == 2" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: green; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 3" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: red; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 1 || row.registerationFormStateID == 4" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <div class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: gray; padding: 4px;"></div>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                    </div>
                </td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex justify-start">
                        <div *ngIf="row.registerationFormStateID == 2" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: green; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 3" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: red; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 1 || row.registerationFormStateID == 4" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <div class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: gray; padding: 4px;"></div>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                    </div>
                </td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex justify-start">
                        <div *ngIf="row.registerationFormStateID == 2" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: green; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 3" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: red; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 1 || row.registerationFormStateID == 4" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <div class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: gray; padding: 4px;"></div>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                    </div>
                </td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex justify-start">
                        <div *ngIf="row.registerationFormStateID == 2" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: green; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 3" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <span class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: red; padding: 4px;"></span>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                        <div *ngIf="row.registerationFormStateID == 1 || row.registerationFormStateID == 4" class="border flex space-x-2 items-center justify-between rounded-md shadow px-2 py-1 ">
                            <div class="w-[6px] h-[6px] p-1 rounded-full" style="background-color: gray; padding: 4px;"></div>
                            <p>
                                {{row.registerationFormStateName}}
                            </p>
                        </div>
                    </div>
                </td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4">
                        <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="moveToRegistrationFormSubmission(row.id)">
                            <i class="fa-regular fa-eye text-[#6F6F6F]"></i>
                        </button>
                        <button>
                            <img src="Icons/Test.png" class="w-8" (click)="moveToRegistrationConfirmationTestDetails(row.id)">
                        </button>
                    </div>
                </td> 
            </tr>
        </tbody>
    </table>
</div>
